flow.json
[
    {
        "id": "02206fa51f6a9be8",
        "type": "tab",
        "label": "Sync Meters v2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27eea1c2d9ac95bb",
        "type": "tab",
        "label": "Read Meter - Gurux v2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d43567c1be96ce60",
        "type": "tab",
        "label": "Push Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc8be11b90b5343c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ccf433d1e1252fa",
        "type": "tab",
        "label": "Sync Meters v1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83e12f2fbbc1c363",
        "type": "tab",
        "label": "Read Meter - Gurux v1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1509540e3c10b1a5",
        "type": "tab",
        "label": "Device Status Update",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9233b0c84f38dab5",
        "type": "tab",
        "label": "Write Meter - Gurux",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bd78f3f44340342",
        "type": "tab",
        "label": "Connect to Meter - TCP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "414801e6057048b1",
        "type": "junction",
        "z": "1bd78f3f44340342",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "a3e309e559287df5",
                "0e3c11111e7635b8",
                "634f3d88e7580ebd",
                "065271fbc7fef021"
            ]
        ]
    },
    {
        "id": "0839ed686605f773",
        "type": "inject",
        "z": "02206fa51f6a9be8",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"tenant@thingsboard.org\",\"password\":\"tenant\"}",
        "payloadType": "json",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "1c2fbbd703571f20"
            ]
        ]
    },
    {
        "id": "0d1c04df5e2655fe",
        "type": "trigger",
        "z": "02206fa51f6a9be8",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "3faf059f7957f7ba"
            ]
        ]
    },
    {
        "id": "1c2fbbd703571f20",
        "type": "change",
        "z": "02206fa51f6a9be8",
        "name": "Set Init global config",
        "rules": [
            {
                "t": "set",
                "p": "baseURL",
                "pt": "global",
                "to": "http://192.168.8.100:8080",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cred",
                "pt": "global",
                "to": "{\"username\":\"tenant@thingsboard.org\",\"password\":\"tenant\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "0d1c04df5e2655fe"
            ]
        ]
    },
    {
        "id": "c9036e3dcc3ce1a3",
        "type": "http request",
        "z": "02206fa51f6a9be8",
        "name": "Login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "209a39880c5e7bca"
            ]
        ]
    },
    {
        "id": "3faf059f7957f7ba",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Set Login Req",
        "func": "msg.payload = global.get(\"cred\")\nmsg.url = global.get(\"baseURL\") + \"/api/auth/login\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 520,
        "wires": [
            [
                "c9036e3dcc3ce1a3"
            ]
        ]
    },
    {
        "id": "209a39880c5e7bca",
        "type": "change",
        "z": "02206fa51f6a9be8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tokenDetails",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tokenDetails.token",
                "pt": "msg",
                "to": "$join($append(\"Bearer\", msg.tokenDetails.token)\t, \" \")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "devicePage",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "f05687fab95fc876"
            ]
        ]
    },
    {
        "id": "f05687fab95fc876",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "SetGet Devices Req",
        "func": "msg.url = global.get(\"baseURL\") + \"/api/tenant/deviceInfos?pageSize=10&page=\" + msg.devicePage+\"&sortProperty=createdTime&sortOrder=DESC&deviceProfileId=\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 600,
        "wires": [
            [
                "9172b49dc7f78fbc"
            ]
        ]
    },
    {
        "id": "9172b49dc7f78fbc",
        "type": "http request",
        "z": "02206fa51f6a9be8",
        "name": "Get Devices",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            }
        ],
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "28c7a638e1ab4bb8",
                "0a0f670ec7afdf66"
            ]
        ]
    },
    {
        "id": "8aa3c87309bb31f0",
        "type": "debug",
        "z": "02206fa51f6a9be8",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 480,
        "wires": []
    },
    {
        "id": "0a0f670ec7afdf66",
        "type": "delay",
        "z": "02206fa51f6a9be8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "8aa3c87309bb31f0",
                "b3a62d262b247ff4"
            ]
        ]
    },
    {
        "id": "a8e4d6ec73a89759",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Query Next Batch",
        "func": "msg.devicePage = msg.devicePage + 1\nmsg.payload = \"Yes\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "67833da0c7aa928f"
            ]
        ]
    },
    {
        "id": "28c7a638e1ab4bb8",
        "type": "switch",
        "z": "02206fa51f6a9be8",
        "name": "If There more pages",
        "property": "payload.hasNext",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 660,
        "wires": [
            [
                "a8e4d6ec73a89759"
            ]
        ]
    },
    {
        "id": "67833da0c7aa928f",
        "type": "delay",
        "z": "02206fa51f6a9be8",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "f05687fab95fc876"
            ]
        ]
    },
    {
        "id": "b3a62d262b247ff4",
        "type": "change",
        "z": "02206fa51f6a9be8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "35ba9307f83b14e3"
            ]
        ]
    },
    {
        "id": "35ba9307f83b14e3",
        "type": "split",
        "z": "02206fa51f6a9be8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "device",
        "x": 650,
        "y": 840,
        "wires": [
            [
                "13d92044b418343e"
            ]
        ]
    },
    {
        "id": "2b2b65cbdf7eab42",
        "type": "change",
        "z": "02206fa51f6a9be8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "payload.id.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "tokenDetails.token",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profile",
                "pt": "msg",
                "to": "payload.deviceProfileName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "9e9491c95846755a"
            ]
        ]
    },
    {
        "id": "9e9491c95846755a",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Build Telemetry Req",
        "func": "let deviceId = msg.deviceId\n\nmsg.url = global.get(\"baseURL\") + \"/api/plugins/telemetry/DEVICE/\" + deviceId +\"/values/attributes/SERVER_SCOPE\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 940,
        "wires": [
            [
                "f31c3e508a25fbc2"
            ]
        ]
    },
    {
        "id": "f31c3e508a25fbc2",
        "type": "http request",
        "z": "02206fa51f6a9be8",
        "name": "Get DeviceTelemetry",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1080,
        "y": 940,
        "wires": [
            [
                "3c4273ac4474d039"
            ]
        ]
    },
    {
        "id": "3c4273ac4474d039",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Build Device",
        "func": "\nmsg.payload.forEach(function(telemetry) {\n    if (telemetry.key === \"ip\") msg.host = telemetry.value\n    if (telemetry.key === \"port\") msg.port = telemetry.value\n    if (telemetry.key === \"read_obis\") msg.read_obis = telemetry.value \n    if (telemetry.key === \"password\") msg.meterPass = telemetry.value\n    if (telemetry.key === \"clientAdress\") msg.meterAd = telemetry.value\n    if (telemetry.key === \"billingProfileObis\") msg.billObis = telemetry.value\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 940,
        "wires": [
            [
                "c8d7ada22428476b"
            ]
        ]
    },
    {
        "id": "92a9738c295c70db",
        "type": "change",
        "z": "02206fa51f6a9be8",
        "name": "Clear unusedData",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "fe2bba608a4cb55d"
            ]
        ]
    },
    {
        "id": "13d92044b418343e",
        "type": "switch",
        "z": "02206fa51f6a9be8",
        "name": "Filter Profiles",
        "property": "payload.deviceProfileId.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6407c800-6fc7-11ed-acc7-7f84f79e863d",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "91c72800-9013-11ed-a729-4d5c2f062be6",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 840,
        "wires": [
            [
                "2b2b65cbdf7eab42"
            ],
            [
                "2b2b65cbdf7eab42"
            ]
        ]
    },
    {
        "id": "c8d7ada22428476b",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Build meter Key Req",
        "func": "let deviceId = msg.deviceId\n\nmsg.url = global.get(\"baseURL\") + \"/api/device/\" + deviceId +\"/credentials\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1040,
        "wires": [
            [
                "a0a9dea7bd3e70df"
            ]
        ]
    },
    {
        "id": "a0a9dea7bd3e70df",
        "type": "http request",
        "z": "02206fa51f6a9be8",
        "name": "Get Device Key",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1060,
        "y": 1040,
        "wires": [
            [
                "002883f8a4535aba"
            ]
        ]
    },
    {
        "id": "5b99128207912800",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "set Device Key",
        "func": "\nmsg.key = msg.payload.credentialsId\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1140,
        "wires": [
            [
                "92a9738c295c70db"
            ]
        ]
    },
    {
        "id": "002883f8a4535aba",
        "type": "delay",
        "z": "02206fa51f6a9be8",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "5b99128207912800"
            ]
        ]
    },
    {
        "id": "fe2bba608a4cb55d",
        "type": "link out",
        "z": "02206fa51f6a9be8",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "a2e9780ff9d3ae58"
        ],
        "x": 1325,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d31bd0999da8c4d7",
        "type": "function",
        "z": "02206fa51f6a9be8",
        "name": "Query Telemetry Req",
        "func": "let deviceId = msg.deviceId\n\nlet obis = \"0.0.21.0.11.255:0.0.1.0.0.255:2\"\n\nmsg.url = global.get(\"baseURL\") + \"/api/plugins/telemetry/DEVICE/\" + deviceId + \"/values/timeseries?agg=MAX&keys=\" + obis\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1300,
        "wires": [
            [
                "843994dff9759d6f"
            ]
        ]
    },
    {
        "id": "843994dff9759d6f",
        "type": "http request",
        "z": "02206fa51f6a9be8",
        "name": "Get DeviceTelemetry",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 620,
        "y": 1300,
        "wires": [
            [
                "f692910852f89849"
            ]
        ]
    },
    {
        "id": "7e74672ff785690f",
        "type": "link in",
        "z": "02206fa51f6a9be8",
        "name": "Query Telemetry Billing",
        "links": [],
        "x": 95,
        "y": 1300,
        "wires": [
            [
                "d31bd0999da8c4d7"
            ]
        ]
    },
    {
        "id": "f692910852f89849",
        "type": "link out",
        "z": "02206fa51f6a9be8",
        "name": "return telemetry query Value",
        "mode": "return",
        "links": [],
        "x": 855,
        "y": 1300,
        "wires": []
    },
    {
        "id": "360489f1c53f4f2d",
        "type": "exec",
        "z": "27eea1c2d9ac95bb",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Execute Read Obis command",
        "x": 910,
        "y": 260,
        "wires": [
            [
                "fc66c0325f0f0f68",
                "1d590e27dbc81cd6",
                "cab50461e58ef119"
            ],
            [
                "fc66c0325f0f0f68",
                "d5d65eed1cc2d595"
            ],
            [
                "fc66c0325f0f0f68"
            ]
        ]
    },
    {
        "id": "fc66c0325f0f0f68",
        "type": "debug",
        "z": "27eea1c2d9ac95bb",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "f1fa44d08cbcb7eb",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Build Read Obis Command",
        "func": "//let obis = \"0.0.96.1.0.255:2; 1.0.15.8.0.255:2; 0.0.1.0.0.255:2; 1.0.1.7.0.255:2; 1.0.2.7.0.255:2\"\n//let obis = \"0.0.96.1.0.255:1;0.0.96.1.0.255:2; 1.0.15.8.0.255:1;1.0.15.8.0.255:2; 0.0.1.0.0.255:1;0.0.1.0.0.255:2; 1.0.1.7.0.255:1;1.0.1.7.0.255:2; 1.0.2.7.0.255:1;1.0.2.7.0.255:2\"\n\nlet host = msg.host\nlet port = msg.port\nlet obis = msg.read_obis\nlet clientAdd = msg.meterAd\nlet password = msg.meterPass\nlet cashFile = msg.profile\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" \" + msg.meterAd + \" \" + msg.meterPass + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \"'\" + \" -o /usr/src/app/\" + cashFile + \".xml\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "360489f1c53f4f2d"
            ]
        ]
    },
    {
        "id": "a2e9780ff9d3ae58",
        "type": "link in",
        "z": "27eea1c2d9ac95bb",
        "name": "Gurux Read V2",
        "links": [
            "fe2bba608a4cb55d"
        ],
        "x": 185,
        "y": 260,
        "wires": [
            [
                "411739f032457819"
            ]
        ]
    },
    {
        "id": "1d590e27dbc81cd6",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Format Read OBIS Data",
        "func": "let dataString = msg.payload;\nlet dataArray = dataString.split(\"\\n\")\n\n\nlet obisStringArray = dataArray.filter(obisString => obisString.includes('Index'))\n\n\nmsg.regData = {}\n\nlet obiCurrentCode = \"\"\n\nobisStringArray.forEach(function (obisString) {\n    let obisArray = obisString.split(\": \")\n   \n\n    let obisindex = obisArray[1].split(\"V\")[0].trim()\n    \n\n    if (parseInt(obisindex) === 1) { \n        obiCurrentCode = obisArray[2].trim()\n    }\n\n    msg.regData[obiCurrentCode + \":\" + obisindex] = obisArray[2].trim()\n\n});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 200,
        "wires": [
            [
                "a54d25a717f6b718"
            ]
        ]
    },
    {
        "id": "a54d25a717f6b718",
        "type": "link out",
        "z": "27eea1c2d9ac95bb",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "fea414a95f926870"
        ],
        "x": 1625,
        "y": 200,
        "wires": []
    },
    {
        "id": "9faa69f9484357d6",
        "type": "catch",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 760,
        "y": 40,
        "wires": [
            [
                "e3a02b947eda3d69",
                "22846360a11da18c"
            ]
        ]
    },
    {
        "id": "e3a02b947eda3d69",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Build Error",
        "func": "msg.regData = {}\n\nmsg.regData[\"Error\"] = msg.error.source.id + \":\" + \":\" + msg.error.source.type +msg.error.source.name + \" : \" + msg.error.message\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 40,
        "wires": [
            [
                "a54d25a717f6b718"
            ]
        ]
    },
    {
        "id": "d5d65eed1cc2d595",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Build Error",
        "func": "msg.regData = {}\n\nmsg.regData[\"Error\"] = msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "a54d25a717f6b718"
            ]
        ]
    },
    {
        "id": "411739f032457819",
        "type": "switch",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "property": "read_obis",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "f1fa44d08cbcb7eb"
            ]
        ]
    },
    {
        "id": "9a08c5c5d4595314",
        "type": "switch",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "property": "billObis",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ".",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "5f0b3c4455965640",
                "e822d9a060282544"
            ]
        ]
    },
    {
        "id": "5f0b3c4455965640",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Build Billing Profile Command",
        "func": "//let obis = \"0.0.96.1.0.255:2; 1.0.15.8.0.255:2; 0.0.1.0.0.255:2; 1.0.1.7.0.255:2; 1.0.2.7.0.255:2\"\n//let obis = \"0.0.96.1.0.255:1;0.0.96.1.0.255:2; 1.0.15.8.0.255:1;1.0.15.8.0.255:2; 0.0.1.0.0.255:1;0.0.1.0.0.255:2; 1.0.1.7.0.255:1;1.0.1.7.0.255:2; 1.0.2.7.0.255:1;1.0.2.7.0.255:2\"\n\nlet host = msg.host\nlet port = msg.port\nlet obis = msg.billObis\nlet clientAdd = msg.meterAd\nlet password = msg.meterPass\nlet cashFile = msg.profile\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" \" + msg.meterAd + \" \" + msg.meterPass + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \":1'\" + \" -o /usr/src/app/\" + cashFile + \".xml\" +\" -M 'queryProfileByDate:01122000000000/01012024000000'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 560,
        "wires": [
            [
                "1c372cbd3c8b4326"
            ]
        ]
    },
    {
        "id": "1c372cbd3c8b4326",
        "type": "exec",
        "z": "27eea1c2d9ac95bb",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Execute Billing Profile Command",
        "x": 900,
        "y": 560,
        "wires": [
            [
                "5efb4be8823a6f87",
                "ae53e1864c64b427"
            ],
            [
                "5efb4be8823a6f87"
            ],
            [
                "5efb4be8823a6f87"
            ]
        ]
    },
    {
        "id": "5efb4be8823a6f87",
        "type": "debug",
        "z": "27eea1c2d9ac95bb",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 460,
        "wires": []
    },
    {
        "id": "bc7e8d063ed5112d",
        "type": "inject",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "host",
                "v": "10.185.0.3",
                "vt": "str"
            },
            {
                "p": "port",
                "v": "4059",
                "vt": "str"
            },
            {
                "p": "billObis",
                "v": "0.0.21.0.11.255",
                "vt": "str"
            },
            {
                "p": "meterAd",
                "v": "-c 100 -s 17",
                "vt": "str"
            },
            {
                "p": "meterPass",
                "v": "-a Low -P \"MH_@DSEM\"",
                "vt": "str"
            },
            {
                "p": "profile",
                "v": "ElectricalMeter-Electrometer",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "9a08c5c5d4595314"
            ]
        ]
    },
    {
        "id": "cab50461e58ef119",
        "type": "delay",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "9a08c5c5d4595314"
            ]
        ]
    },
    {
        "id": "ae53e1864c64b427",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "Format Read OBIS Data",
        "func": "let dataString = msg.payload;\nlet dataArray = dataString.split(\"\\n\")\nlet profileObis = dataArray[7].split(\"On \")[1].split(\" : \")[0]\n\n//dataArray = dataArray.slice(7, dataArray.length)\n\nlet obisStringArray = dataArray.filter(obisString => obisString.includes('::'))\nconsole.log(obisStringArray)\n\nmsg.obisData = {}\nlet regData = {}\nlet currentIndex = \"0\"\n\nobisStringArray.forEach(function (obisString ,id) {\n    let obisArray = obisString.split(\" :: \")\n    let index = obisArray[0]\n\n    let key = profileObis + \":\" + obisArray[1]\n    let value = obisArray[3]\n\n    if ((index != currentIndex && index != \"0\") || (obisStringArray.length -1 == id)){\n        if (obisStringArray.length - 1 == id) regData[key] = value\n        msg.obisData[parseInt(currentIndex)] = regData\n        regData = {}\n        regData[key] = value\n        currentIndex = index\n    } else regData[key] = value\n\n    \n})\nmsg.payload = msg.obisData\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 540,
        "wires": [
            [
                "1bd210459158ba91"
            ]
        ]
    },
    {
        "id": "0d8ebfe733beafeb",
        "type": "debug",
        "z": "27eea1c2d9ac95bb",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "regData",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 560,
        "wires": []
    },
    {
        "id": "22846360a11da18c",
        "type": "debug",
        "z": "27eea1c2d9ac95bb",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "1bd210459158ba91",
        "type": "split",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1130,
        "y": 620,
        "wires": [
            [
                "ec257cb463a7a41e"
            ]
        ]
    },
    {
        "id": "ec257cb463a7a41e",
        "type": "change",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "regData",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 720,
        "wires": [
            [
                "0d8ebfe733beafeb",
                "80efb02c9a7111cf"
            ]
        ]
    },
    {
        "id": "80efb02c9a7111cf",
        "type": "delay",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1530,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e822d9a060282544",
        "type": "link call",
        "z": "27eea1c2d9ac95bb",
        "name": "",
        "links": [
            "7e74672ff785690f"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 470,
        "y": 700,
        "wires": [
            [
                "0375a8d1b28ae81f"
            ]
        ]
    },
    {
        "id": "58cccd886338ee81",
        "type": "debug",
        "z": "27eea1c2d9ac95bb",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "billingQuery",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "0375a8d1b28ae81f",
        "type": "function",
        "z": "27eea1c2d9ac95bb",
        "name": "format From Date",
        "func": "//From Date\nlet meterDate = msg.payload[\"0.0.21.0.11.255:0.0.1.0.0.255:2\"][0].value\n\nlet meterDateArray = meterDate.split(\"/\")\nlet billingQuery =  meterDateArray[1] + meterDateArray[0] + meterDateArray[2]\n\nmsg.billingQuery = billingQuery.replace(':', '').replace(':', '').replace(':', '').replace(' ', '').slice(0, -4)\n\nmsg.billingQuery = msg.billingQuery + \"/\"\n\n//To Date\nmeterDate = new Date()\n\n\n\n\nmsg.billingQuery = msg.billingQuery + (meterDate.getDate()+1) + + meterDate.getMonth() + \"20\" + meterDate.getYear() + \"000000\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "58cccd886338ee81"
            ]
        ]
    },
    {
        "id": "69ccf11da49db2f7",
        "type": "inject",
        "z": "d43567c1be96ce60",
        "name": "",
        "props": [
            {
                "p": "regData",
                "v": "{\"rawData\":\"/ISk5MT174-0004\\r\\n\\n/ISk5MT174-0004\\r\\n\\n\\u00021-0:0.9.1*255(193124)\\r\\n1-0:0.9.2*255(1221010)\\r\\n1-0:0.0.0*255(20671901)\\r\\n1-0:0.1.0*255(4)\\r\\n1-0:0.2.0*255(1.03)\\r\\n1-0:0.2.2*255(G11)\\r\\n0-0:C.1.0*255(20671901)\\r\\n0-0:C.1.6*255(FDF5)\\r\\n0-0:C.51.1*255(4)\\r\\n0-0:C.51.2*255(1210915001240)\\r\\n0-0:C.51.2*01(1210915001240)\\r\\n0-0:C.51.2*02(0210317102223)\\r\\n0-0:C.51.2*03(0210317102215)\\r\\n0-0:C.51.3*255(0)\\r\\n0-0:C.51.4*255()\\r\\n0-0:C.51.4*01()\\r\\n0-0:C.51.4*02()\\r\\n0-0:C.51.4*03()\\r\\n0-0:C.51.5*255(0)\\r\\n0-0:C.51.6*255()\\r\\n0-0:C.51.6*01()\\r\\n0-0:C.51.6*02()\\r\\n0-0:C.51.6*03()\\r\\n0-0:C.6.1*255(95.3654)\\r\\n0-0:C.7.0*255(30)\\r\\n1-0:1.6.0*255(00.00*kW)(2210101930)\\r\\n1-0:1.8.0*255(0000000.061*kWh)\\r\\n1-0:1.6.1*255(00.00*kW)(2210101930)\\r\\n1-0:1.8.1*255(0000000.061*kWh)\\r\\n1-0:1.6.2*255(00.00*kW)(0001011300)\\r\\n1-0:1.8.2*255(0000000.000*kWh)\\r\\n1-0:1.6.3*255(00.00*kW)(0001011300)\\r\\n1-0:1.8.3*255(0000000.000*kWh)\\r\\n1-0:1.6.4*255(00.00*kW)(0001011300)\\r\\n1-0:1.8.4*255(0000000.000*kWh)\\r\\n1-0:2.6.0*255(00.00*kW)(2210101930)\\r\\n1-0:2.8.0*255(0000000.000*kWh)\\r\\n1-0:2.6.1*255...\",\"\\u00021-0:0.9.1*255_value1\":\"193124\\r\",\"1-0:0.9.2*255_value1\":\"1221010\\r\",\"1-0:0.0.0*255_value1\":\"20671901\\r\",\"1-0:0.1.0*255_value1\":\"4\\r\",\"1-0:0.2.0*255_value1\":\"1.03\\r\",\"1-0:0.2.2*255_value1\":\"G11\\r\",\"0-0:C.1.0*255_value1\":\"20671901\\r\",\"0-0:C.1.6*255_value1\":\"FDF5\\r\",\"0-0:C.51.1*255_value1\":\"4\\r\",\"0-0:C.51.2*255_value1\":\"1210915001240\\r\",\"0-0:C.51.2*01_value1\":\"1210915001240\\r\",\"0-0:C.51.2*02_value1\":\"0210317102223\\r\",\"0-0:C.51.2*03_value1\":\"0210317102215\\r\",\"0-0:C.51.3*255_value1\":\"0\\r\",\"0-0:C.51.4*255_value1\":\"\\r\",\"0-0:C.51.4*01_value1\":\"\\r\",\"0-0:C.51.4*02_value1\":\"\\r\",\"0-0:C.51.4*03_value1\":\"\\r\",\"0-0:C.51.5*255_value1\":\"0\\r\",\"0-0:C.51.6*255_value1\":\"\\r\",\"0-0:C.51.6*01_value1\":\"\\r\",\"0-0:C.51.6*02_value1\":\"\\r\",\"0-0:C.51.6*03_value1\":\"\\r\",\"0-0:C.6.1*255_value1\":\"95.3654\\r\",\"0-0:C.7.0*255_value1\":\"30\\r\",\"1-0:1.6.0*255_value1\":\"00.00\",\"1-0:1.6.0*255_unit1\":\"kW\",\"1-0:1.6.0*255_value2\":\"2210101930\\r\",\"1-0:1.8.0*255_value1\":\"0000000.061\",\"1-0:1.8.0*255_unit1\":\"kWh\\r\",\"1-0:1.6.1*255_value1\":\"00.00\",\"1-0:1.6.1*255_unit1\":\"kW\",\"1-0:1.6.1*255_value2\":\"2210101930\\r\",\"1-0:1.8.1*255_value1\":\"0000000.061\",\"1-0:1.8.1*255_unit1\":\"kWh\\r\",\"1-0:1.6.2*255_value1\":\"00.00\",\"1-0:1.6.2*255_unit1\":\"kW\",\"1-0:1.6.2*255_value2\":\"0001011300\\r\",\"1-0:1.8.2*255_value1\":\"0000000.000\",\"1-0:1.8.2*255_unit1\":\"kWh\\r\",\"1-0:1.6.3*255_value1\":\"00.00\",\"1-0:1.6.3*255_unit1\":\"kW\",\"1-0:1.6.3*255_value2\":\"0001011300\\r\",\"1-0:1.8.3*255_value1\":\"0000000.000\",\"1-0:1.8.3*255_unit1\":\"kWh\\r\",\"1-0:1.6.4*255_value1\":\"00.00\",\"1-0:1.6.4*255_unit1\":\"kW\",\"1-0:1.6.4*255_value2\":\"0001011300\\r\",\"1-0:1.8.4*255_value1\":\"0000000.000\",\"1-0:1.8.4*255_unit1\":\"kWh\\r\",\"1-0:2.6.0*255_value1\":\"00.00\",\"1-0:2.6.0*255_unit1\":\"kW\",\"1-0:2.6.0*255_value2\":\"2210101930\\r\",\"1-0:2.8.0*255_value1\":\"0000000.000\",\"1-0:2.8.0*255_unit1\":\"kWh\\r\",\"1-0:2.6.1*255_value1\":\"00.00\",\"1-0:2.6.1*255_unit1\":\"kW\",\"1-0:2.6.1*255_value2\":\"2210101930\\r\",\"1-0:2.8.1*255_value1\":\"0000000.000\",\"1-0:2.8.1*255_unit1\":\"kWh\\r\",\"2.6.2*255_value1\":\"00.00\",\"2.6.2*255_unit1\":\"kW\",\"2.6.2*255_value2\":\"0001011300\\r\",\"1-0:2.8.2*255_value1\":\"0000000.000\",\"1-0:2.8.2*255_unit1\":\"kWh\\r\",\"1-0:2.6.3*255_value1\":\"00.00\",\"1-0:2.6.3*255_unit1\":\"kW\",\"1-0:2.6.3*255_value2\":\"0001011300\\r\",\"1-0:2.8.3*255_value1\":\"0000000.000\",\"1-0:2.8.3*255_unit1\":\"kWh\\r\",\"1-0:2.6.4*255_value1\":\"00.00\",\"1-0:2.6.4*255_unit1\":\"kW\",\"1-0:2.6.4*255_value2\":\"0001011300\\r\",\"1-0:2.8.4*255_value1\":\"0000000.000\",\"1-0:2.8.4*255_unit1\":\"kWh\\r\",\"1-0:15.6.0*255_value1\":\"00.00\",\"1-0:15.6.0*255_unit1\":\"kW\",\"1-0:15.6.0*255_value2\":\"2210101930\\r\",\"1-0:15.8.0*255_value1\":\"0000000.061\",\"1-0:15.8.0*255_unit1\":\"kWh\\r\",\"1-0:15.6.1*255_value1\":\"00.00\",\"1-0:15.6.1*255_unit1\":\"kW\",\"1-0:15.6.1*255_value2\":\"2210101930\\r\",\"1-0:15.8.1*255_value1\":\"0000000.061\",\"1-0:15.8.1*255_unit1\":\"kWh\\r\",\"1-0:15.6.2*255_value1\":\"00.00\",\"1-0:15.6.2*255_unit1\":\"kW\",\"1-0:15.6.2*255_value2\":\"0001011300\\r\",\"1-0:15.8.2*255_value1\":\"0000000.000\",\"1-0:15.8.2*255_unit1\":\"kWh\\r\",\"1-0:15.6.3*255_value1\":\"00.00\",\"1-0:15.6.3*255_unit1\":\"kW\",\"1-0:15.6.3*255_value2\":\"0001011300\\r\",\"1-0:15.8.3*255_value1\":\"0000000.000\",\"1-0:15.8.3*255_unit1\":\"kWh\\r\",\"1-0:15.6.4*255_value1\":\"00.00\",\"1-0:15.6.4*255_unit1\":\"kW\",\"1-0:15.6.4*255_value2\":\"0001\",\"1-0:15.8.4*255_value1\":\"0000000.000\",\"1-0:15.8.4*255_unit1\":\"kWh\\r\",\"1-0:3.8.0*255_value1\":\"0000000.001\",\"1-0:3.8.0*255_unit1\":\"kVArh\\r\",\"1-0:3.8.1*255_value1\":\"0000000.001\",\"1-0:3.8.1*255_unit1\":\"kVArh\\r\",\"1-0:3.8.2*255_value1\":\"0000000.000\",\"1-0:3.8.2*255_unit1\":\"kVArh\\r\",\"1-0:3.8.3*255_value1\":\"0000000.000\",\"1-0:3.8.3*255_unit1\":\"kVArh\\r\",\"1-0:3.8.4*255_value1\":\"0000000.000\",\"1-0:3.8.4*255_unit1\":\"kVArh\\r\",\"1-0:4.8.0*255_value1\":\"0000000.000\",\"1-0:4.8.0*255_unit1\":\"kVArh\\r\",\"1-0:4.8.1*255_value1\":\"0000000.000\",\"1-0:4.8.1*255_unit1\":\"kVArh\\r\",\"1-0:4.8.2*255_value1\":\"0000000.000\",\"1-0:4.8.2*255_unit1\":\"kVArh\\r\",\"1-0:4.8.3*255_value1\":\"0000000.000\",\"1-0:4.8.3*255_unit1\":\"kVArh\\r\",\"1-0:4.8.4*255_value1\":\"0000000.000\",\"1-0:4.8.4*255_unit1\":\"kVArh\\r\",\"1-0:5.8.0*255_value1\":\"0000000.001\",\"1-0:5.8.0*255_unit1\":\"kVArh\\r\",\"1-0:5.8.1*255_value1\":\"0000000.001\",\"1-0:5.8.1*255_unit1\":\"kVArh\\r\",\"1-0:5.8.2*255_value1\":\"0000000.000\",\"1-0:5.8.2*255_unit1\":\"kVArh\\r\",\"1-0:5.8.3*255_value1\":\"0000000.000\",\"1-0:5.8.3*255_unit1\":\"kVArh\\r\",\"1-0:5.8.4*255_value1\":\"0000000.000\",\"1-0:5.8.4*255_unit1\":\"kVArh\\r\",\"1-0:6.8.0*255_value1\":\"0000000.000\",\"1-0:6.8.0*255_unit1\":\"kVArh\\r\",\"1-0:6.8.1*255_value1\":\"0000000.000\",\"1-0:6.8.1*255_unit1\":\"kVArh\\r\",\"1-0:6.8.2*255_value1\":\"0000000.000\",\"1-0:6.8.2*255_unit1\":\"kVArh\\r\",\"1-0:6.8.3*255_value1\":\"0000000.000\",\"1-0:6.8.3*255_unit1\":\"kVArh\\r\",\"1-0:6.8.4*255_value1\":\"0000000.000\",\"1-0:6.8.4*255_unit1\":\"kVArh\\r\",\"1-0:7.8.0*255_value1\":\"0000000.000\",\"1-0:7.8.0*255_unit1\":\"kVArh\\r\",\"1-0:7.8.1*255_value1\":\"0000000.000\",\"1-0:7.8.1*255_unit1\":\"kVArh\\r\",\"1-0:7.8.2*255_value1\":\"0000000.000\",\"1-0:7.8.2*255_unit1\":\"kVArh\\r\",\"1-0:7.8.3*255_value1\":\"0000000.000\",\"1-0:7.8.3*255_unit1\":\"kVArh\\r\",\"1-0:7.8.4*255_value1\":\"0000000.000\",\"1-0:7.8.4*255_unit1\":\"kVArh\\r\",\"1-0:8.8.0*255_value1\":\"0000000.000\",\"1-0:8.8.0*255_unit1\":\"kVArh\\r\",\"1-0:8.8.1*255_value1\":\"0000000.000\",\"1-0:8.8.1*255_unit1\":\"kVArh\\r\",\"1-0:8.8.2*255_value1\":\"0000000.000\",\"1-0:8.8.2*255_unit1\":\"kVArh\\r\",\"1-0:8.8.3*255_value1\":\"0000000.000\",\"1-0:8.8.3*255_unit1\":\"kVAr\",\"1-0:8.8.4*255_value1\":\"0000000.000\",\"1-0:8.8.4*255_unit1\":\"kVArh\\r\",\"0-0:F.F.0*255_value1\":\"0000000\\r\",\"1-0:0.1.2*01_value1\":\"2210010000\\r\",\"1-0:0.1.2*02_value1\":\"2209010000\\r\",\"1-0:0.1.2*03_value1\":\"2208191851\\r\",\"1-0:0.1.2*04_value1\":\"2109132202\\r\",\"1-0:0.1.2*05_value1\":\"0001011300\\r\",\"1-0:0.1.2*06_value1\":\"0001011300\\r\",\"1-0:0.1.2*07_value1\":\"0001011300\\r\",\"1-0:0.1.2*08_value1\":\"0001011300\\r\",\"1-0:0.1.2*09_value1\":\"0001011300\\r\",\"1-0:0.1.2*10_value1\":\"0001011300\\r\",\"1-0:0.1.2*11_value1\":\"0001011300\\r\",\"1-0:0.1.2*12_value1\":\"0001011300\\r\",\"1-0:0.1.2*13_value1\":\"0001011300\\r\",\"1-0:0.1.2*14_value1\":\"0001011300\\r\",\"1-0:0.1.2*15_value1\":\"0001011300\\r\",\"1-0:1.6.0*01_value1\":\"00.00\",\"1-0:1.6.0*01_unit1\":\"kW\",\"1-0:1.6.0*01_value2\":\"2210010000\\r\",\"1-0:1.6.0*02_value1\":\"00.00\",\"1-0:1.6.0*02_unit1\":\"kW\",\"1-0:1.6.0*02_value2\":\"22090\",\"1-0:1.6.0*03_value1\":\"00.24\",\"1-0:1.6.0*03_unit1\":\"kW\",\"1-0:1.6.0*03_value2\":\"2109151515\\r\",\"1-0:1.6.0*04_value1\":\"00.00\",\"1-0:1.6.0*04_unit1\":\"kW\",\"1-0:1.6.0*04_value2\":\"2109132215\\r\",\"1-0:1.6.0*05_value1\":\"00.00\",\"1-0:1.6.0*05_unit1\":\"kW\",\"1-0:1.6.0*05_value2\":\"0001011300\\r\",\"1-0:1.6.0*06_value1\":\"00.00\",\"1-0:1.6.0*06_unit1\":\"kW\",\"1-0:1.6.0*06_value2\":\"0001011300\\r\",\"1-0:1.6.0*07_value1\":\"00.00\",\"1-0:1.6.0*07_unit1\":\"kW\",\"1-0:1.6.0*07_value2\":\"0001011300\\r\",\"1-0:1.6.0*08_value1\":\"00.00\",\"1-0:1.6.0*08_unit1\":\"kW\",\"1-0:1.6.0*08_value2\":\"0001011300\\r\",\"1-0:1.6.0*09_value1\":\"00.00\",\"1-0:1.6.0*09_unit1\":\"kW\",\"1-0:1.6.0*09_value2\":\"0001011300\\r\",\"1-0:1.6.0*10_value1\":\"00.00\",\"1-0:1.6.0*10_unit1\":\"kW\",\"1-0:1.6.0*10_value2\":\"0001011300\\r\",\"1-0:1.6.0*11_value1\":\"00.00\",\"1-0:1.6.0*11_unit1\":\"kW\",\"1-0:1.6.0*11_value2\":\"0001011300\\r\",\"1-0:1.6.0*12_value1\":\"00.00\",\"1-0:1.6.0*12_unit1\":\"kW\",\"1-0:1.6.0*12_value2\":\"0001011300\\r\",\"1-0:1.6.0*13_value1\":\"00.00\",\"1-0:1.6.0*13_unit1\":\"kW\",\"1-0:1.6.0*13_value2\":\"0001011300\\r\",\"1-0:1.6.0*14_value1\":\"00.00\",\"1-0:1.6.0*14_unit1\":\"kW\",\"1-0:1.6.0*14_value2\":\"0001011300\\r\",\"1-0:1.6.0*15_value1\":\"00.00\",\"1-0:1.6.0*15_unit1\":\"kW\",\"1-0:1.6.0*15_value2\":\"0001011300\\r\",\"1-0:1.8.0*01_value1\":\"0000000.061\",\"1-0:1.8.0*01_unit1\":\"kWh\\r\",\"1-0:1.8.0*02_value1\":\"0000000.061\",\"1-0:1.8.0*02_unit1\":\"kWh\\r\",\"1-0:1.8.0*03_value1\":\"0000000.061\",\"1-0:1.8.0*03_unit1\":\"kWh\\r\",\"1-0:1.8.0*04_value1\":\"0000000.000\",\"1-0:1.8.0*04_unit1\":\"kWh\\r\",\"1-0:1.8.0*05_value1\":\"0000000.000\",\"1-0:1.8.0*05_unit1\":\"kWh\\r\",\"1-0:1.8.0*06_value1\":\"0000000.000\",\"1-0:1.8.0*06_unit1\":\"kWh\\r\",\"1-0:1.8.0*07_value1\":\"0000000.000\",\"1-0:1.8.0*07_unit1\":\"kWh\\r\",\"1-0:1.8.0*08_value1\":\"0000000.000\",\"1-0:1.8.0*08_unit1\":\"kWh\\r\",\"1-0:1.8.0*09_value1\":\"0000000.000\",\"1-0:1.8.0*09_unit1\":\"kWh\\r\",\"1-0:1.8.0*10_value1\":\"0000000.000\",\"1-0:1.8.0*10_unit1\":\"kWh\\r\",\"1-0:1.8.0*11_value1\":\"0000000.000\",\"1-0:1.8.0*11_unit1\":\"kWh\\r\",\"1-0:1.8.0*12_value1\":\"0000000.000\",\"1-0:1.8.0*12_unit1\":\"kWh\\r\",\"1-0:1.8.0*13_value1\":\"0000000.000\",\"1-0:1.8.0*13_unit1\":\"kWh\\r\",\"1-0:1.8.0*14_value1\":\"0000000.000\",\"1-0:1.8.0*14_unit1\":\"kWh\\r\",\"1-0:1.8.0*15_value1\":\"0000000.000\",\"1-0:1.8.0*15_unit1\":\"kWh\\r\",\"1-0:1.6.1*01_value1\":\"00.00\",\"1-0:1.6.1*01_unit1\":\"kW\",\"1-0:1.6.1*01_value2\":\"2210010000\\r\",\"1-0:1.6.1*02_value1\":\"00.00\",\"1-0:1.6.1*02_unit1\":\"kW\",\"1-0:1.6.1*02_value2\":\"2209010000\\r\",\"3_value1\":\"0000000.000\",\"3_unit1\":\"kWh\\r\",\"1-0:1.6.1*04_value1\":\"00.00\",\"1-0:1.6.1*04_unit1\":\"kW\",\"1-0:1.6.1*04_value2\":\"2109132215\\r\",\"1-0:1.6.1*05_value1\":\"00.00\",\"1-0:1.6.1*05_unit1\":\"kW\",\"1-0:1.6.1*05_value2\":\"0001011300\\r\",\"1-0:1.6.1*06_value1\":\"00.00\",\"1-0:1.6.1*06_unit1\":\"kW\",\"1-0:1.6.1*06_value2\":\"0001011300\\r\",\"1-0:1.6.1*07_value1\":\"00.00\",\"1-0:1.6.1*07_unit1\":\"kW\",\"1-0:1.6.1*07_value2\":\"0001011300\\r\",\"1-0:1.6.1*08_value1\":\"00.00\",\"1-0:1.6.1*08_unit1\":\"kW\",\"1-0:1.6.1*08_value2\":\"0001011300\\r\",\"1-0:1.6.1*09_value1\":\"00.00\",\"1-0:1.6.1*09_unit1\":\"kW\",\"1-0:1.6.1*09_value2\":\"0001011300\\r\",\"1-0:1.6.1*10_value1\":\"00.00\",\"1-0:1.6.1*10_unit1\":\"kW\",\"1-0:1.6.1*10_value2\":\"0001011300\\r\",\"1-0:1.6.1*11_value1\":\"00.00\",\"1-0:1.6.1*11_unit1\":\"kW\",\"1-0:1.6.1*11_value2\":\"0001011300\\r\",\"1-0:1.6.1*12_value1\":\"00.00\",\"1-0:1.6.1*12_unit1\":\"kW\",\"1-0:1.6.1*12_value2\":\"0001011300\\r\",\"1-0:1.6.1*13_value1\":\"00.00\",\"1-0:1.6.1*13_unit1\":\"kW\",\"1-0:1.6.1*13_value2\":\"0001011300\\r\",\"1-0:1.6.1*14_value1\":\"00.00\",\"1-0:1.6.1*14_unit1\":\"kW\",\"1-0:1.6.1*14_value2\":\"0001011300\\r\",\"1-0:1.6.1*15_value1\":\"00.00\",\"1-0:1.6.1*15_unit1\":\"kW\",\"1-0:1.6.1*15_value2\":\"0001011300\\r\",\"1-0:1.6.2*01_value1\":\"00.00\",\"1-0:1.6.2*01_unit1\":\"kW\",\"1-0:1.6.2*01_value2\":\"0001011300\\r\",\"1-0:1.6.2*02_value1\":\"00.00\",\"1-0:1.6.2*02_unit1\":\"kW\",\"1-0:1.6.2*02_value2\":\"\",\"1-0:1.6.2*03_value1\":\"00.00\",\"1-0:1.6.2*03_unit1\":\"kW\",\"1-0:1.6.2*03_value2\":\"0001011300\\r\",\"1-0:1.6.2*04_value1\":\"00.00\",\"1-0:1.6.2*04_unit1\":\"kW\",\"1-0:1.6.2*04_value2\":\"0001011300\\r\",\"1-0:1.6.2*05_value1\":\"00.00\",\"1-0:1.6.2*05_unit1\":\"kW\",\"1-0:1.6.2*05_value2\":\"0001011300\\r\",\"1-0:1.6.2*06_value1\":\"00.00\",\"1-0:1.6.2*06_unit1\":\"kW\",\"1-0:1.6.2*06_value2\":\"0001011300\\r\",\"1-0:1.6.2*07_value1\":\"00.00\",\"1-0:1.6.2*07_unit1\":\"kW\",\"1-0:1.6.2*07_value2\":\"0001011300\\r\",\"1-0:1.6.2*08_value1\":\"00.00\",\"1-0:1.6.2*08_unit1\":\"kW\",\"1-0:1.6.2*08_value2\":\"0001011300\\r\",\"1-0:1.6.2*09_value1\":\"00.00\",\"1-0:1.6.2*09_unit1\":\"kW\",\"1-0:1.6.2*09_value2\":\"0001011300\\r\",\"1-0:1.6.2*10_value1\":\"00.00\",\"1-0:1.6.2*10_unit1\":\"kW\",\"1-0:1.6.2*10_value2\":\"0001011300\\r\",\"1-0:1.6.2*11_value1\":\"00.00\",\"1-0:1.6.2*11_unit1\":\"kW\",\"1-0:1.6.2*11_value2\":\"0001011300\\r\",\"1-0:1.6.2*12_value1\":\"00.00\",\"1-0:1.6.2*12_unit1\":\"kW\",\"1-0:1.6.2*12_value2\":\"0001011300\\r\",\"1-0:1.6.2*13_value1\":\"00.00\",\"1-0:1.6.2*13_unit1\":\"kW\",\"1-0:1.6.2*13_value2\":\"0001011300\\r\",\"1-0:1.6.2*14_value1\":\"00.00\",\"1-0:1.6.2*14_unit1\":\"kW\",\"1-0:1.6.2*14_value2\":\"0001011300\\r\",\"1-0:1.6.2*15_value1\":\"00.00\",\"1-0:1.6.2*15_unit1\":\"kW\",\"1-0:1.6.2*15_value2\":\"0001011300\\r\",\"1-0:1.6.3*01_value1\":\"00.00\",\"1-0:1.6.3*01_unit1\":\"kW\",\"1-0:1.6.3*01_value2\":\"0001011300\\r\",\"1-0:1.6.3*02_value1\":\"00.00\",\"1-0:1.6.3*02_unit1\":\"kW\",\"1-0:1.6.3*02_value2\":\"0001011300\\r\",\"1-0:1.6.3*03_value1\":\"00.00\",\"1-0:1.6.3*03_unit1\":\"kW\",\"1-0:1.6.3*03_value2\":\"0001011300\\r\",\"1-0:1.6.3*04_value1\":\"00.00\",\"1-0:1.6.3*04_unit1\":\"kW\",\"1-0:1.6.3*04_value2\":\"0001011300\\r\",\"1-0:1.6.3*05_value1\":\"00.00\",\"1-0:1.6.3*05_unit1\":\"kW\",\"1-0:1.6.3*05_value2\":\"0001011300\\r\",\"1-0:1.6.3*06_value1\":\"00.00\",\"1-0:1.6.3*06_unit1\":\"kW\",\"1-0:1.6.3*06_value2\":\"0001011300\\r\",\"1-0:1.6.3*07_value1\":\"00.00\",\"1-0:1.6.3*07_unit1\":\"kW\",\"1-0:1.6.3*07_value2\":\"0001011300\\r\",\"1-0:1.6.3*08_value1\":\"00.00\",\"1-0:1.6.3*08_unit1\":\"kW\",\"1-0:1.6.3*08_value2\":\"0001011300\\r\",\"1-0:1.6.3*09_value1\":\"00.00\",\"1-0:1.6.3*09_unit1\":\"kW\",\"1-0:1.6.3*09_value2\":\"0001011300\\r\",\"1-0:1.6.3*10_value1\":\"00.00\",\"1-0:1.6.3*10_unit1\":\"kW\",\"1-0:1.6.3*10_value2\":\"0001011300\\r\",\"1-0:1.6.3*11_value1\":\"00.00\",\"1-0:1.6.3*11_unit1\":\"kW\",\"1-0:1.6.3*11_value2\":\"0001011300\\r\",\"1-0:1.6.3*12_value1\":\"00.00\",\"1-0:1.6.3*12_unit1\":\"kW\",\"1-0:1.6.3*12_value2\":\"0001011300\\r\",\"1-0:1.6.3*13_value1\":\"00.00\",\"1-0:1.6.3*13_unit1\":\"kW\",\"1-0:1.6.3*13_value2\":\"0001011300\\r\",\"1-0:1.6.3*14_value1\":\"00.00\",\"1-0:1.6.3*14_unit1\":\"kW\",\"1-0:1.6.3*14_value2\":\"0001011300\\r\",\"1-0:1.6.3*15_value1\":\"00.00\",\"1-0:1.6.3*15_unit1\":\"kW\",\"1-0:1.6.3*15_value2\":\"0001011300\\r\",\":1.6.4*01_value1\":\"00.00\",\":1.6.4*01_unit1\":\"kW\",\":1.6.4*01_value2\":\"0001011300\\r\",\"1-0:1.6.4*02_value1\":\"00.00\",\"1-0:1.6.4*02_unit1\":\"kW\",\"1-0:1.6.4*02_value2\":\"0001011300\\r\",\"1-0:1.6.4*03_value1\":\"00.00\",\"1-0:1.6.4*03_unit1\":\"kW\",\"1-0:1.6.4*03_value2\":\"0001011300\\r\",\"1-0:1.6.4*04_value1\":\"00.00\",\"1-0:1.6.4*04_unit1\":\"kW\",\"1-0:1.6.4*04_value2\":\"0001011300\\r\",\"1-0:1.6.4*05_value1\":\"00.00\",\"1-0:1.6.4*05_unit1\":\"kW\",\"1-0:1.6.4*05_value2\":\"0001011300\\r\",\"1-0:1.6.4*06_value1\":\"00.00\",\"1-0:1.6.4*06_unit1\":\"kW\",\"1-0:1.6.4*06_value2\":\"0001011300\\r\",\"1-0:1.6.4*07_value1\":\"00.00\",\"1-0:1.6.4*07_unit1\":\"kW\",\"1-0:1.6.4*07_value2\":\"0001011300\\r\",\"1-0:1.6.4*08_value1\":\"00.00\",\"1-0:1.6.4*08_unit1\":\"kW\",\"1-0:1.6.4*08_value2\":\"0001011300\\r\",\"1-0:1.6.4*09_value1\":\"00.00\",\"1-0:1.6.4*09_unit1\":\"kW\",\"1-0:1.6.4*09_value2\":\"0001011300\\r\",\"1-0:1.6.4*10_value1\":\"00.00\",\"1-0:1.6.4*10_unit1\":\"kW\",\"1-0:1.6.4*10_value2\":\"0001011300\\r\",\"1-0:1.6.4*11_value1\":\"00.00\",\"1-0:1.6.4*11_unit1\":\"kW\",\"1-0:1.6.4*11_value2\":\"0001011300\\r\",\"1-0:1.6.4*12_value1\":\"00.00\",\"1-0:1.6.4*12_unit1\":\"kW\",\"1-0:1.6.4*12_value2\":\"0001011300\\r\",\"1-0:1.6.4*13_value1\":\"00.00\",\"1-0:1.6.4*13_unit1\":\"kW\",\"1-0:1.6.4*13_value2\":\"0001011300\\r\",\"1-0:1.6.4*14_value1\":\"00.00\",\"1-0:1.6.4*14_unit1\":\"kW\",\"1-0:1.6.4*14_value2\":\"0001011300\\r\",\"1-0:1.6.4*15_value1\":\"00\",\".00*kW)_value1\":\"0001011300\\r\",\"1-0:1.8.1*01_value1\":\"0000000.061\",\"1-0:1.8.1*01_unit1\":\"kWh\\r\",\"1-0:1.8.1*02_value1\":\"0000000.061\",\"1-0:1.8.1*02_unit1\":\"kWh\\r\",\"1-0:1.8.1*03_value1\":\"0000000.061\",\"1-0:1.8.1*03_unit1\":\"kWh\\r\",\"1-0:1.8.1*04_value1\":\"0000000.000\",\"1-0:1.8.1*04_unit1\":\"kWh\\r\",\"1-0:1.8.1*05_value1\":\"0000000.000\",\"1-0:1.8.1*05_unit1\":\"kWh\\r\",\"1-0:1.8.1*06_value1\":\"0000000.000\",\"1-0:1.8.1*06_unit1\":\"kWh\\r\",\"1-0:1.8.1*07_value1\":\"0000000.000\",\"1-0:1.8.1*07_unit1\":\"kWh\\r\",\"1-0:1.8.1*08_value1\":\"0000000.000\",\"1-0:1.8.1*08_unit1\":\"kWh\\r\",\"1-0:1.8.1*09_value1\":\"0000000.000\",\"1-0:1.8.1*09_unit1\":\"kWh\\r\",\"1-0:1.8.1*10_value1\":\"0000000.000\",\"1-0:1.8.1*10_unit1\":\"kWh\\r\",\"1-0:1.8.1*11_value1\":\"0000000.000\",\"1-0:1.8.1*11_unit1\":\"kWh\\r\",\"1-0:1.8.1*12_value1\":\"0000000.000\",\"1-0:1.8.1*12_unit1\":\"kWh\\r\",\"1-0:1.8.1*13_value1\":\"0000000.000\",\"1-0:1.8.1*13_unit1\":\"kWh\\r\",\"1-0:1.8.1*14_value1\":\"0000000.000\",\"1-0:1.8.1*14_unit1\":\"kWh\\r\",\"1-0:1.8.1*15_value1\":\"0000000.000\",\"1-0:1.8.1*15_unit1\":\"kWh\\r\",\"1-0:1.8.2*01_value1\":\"0000000.000\",\"1-0:1.8.2*01_unit1\":\"kWh\\r\",\"1-0:1.8.2*02_value1\":\"0000000.000\",\"1-0:1.8.2*02_unit1\":\"kWh\\r\",\"1-0:1.8.2*03_value1\":\"0000000.000\",\"1-0:1.8.2*03_unit1\":\"kWh\\r\",\"1-0:1.8.2*04_value1\":\"0000000.000\",\"1-0:1.8.2*04_unit1\":\"kWh\\r\",\"1-0:1.8.2*05_value1\":\"0000000.000\",\"1-0:1.8.2*05_unit1\":\"kWh\\r\",\"1-0:1.8.2*06_value1\":\"0000000.000\",\"1-0:1.8.2*06_unit1\":\"kWh\\r\",\"1-0:1.8.2*07_value1\":\"0000000.000\",\"1-0:1.8.2*07_unit1\":\"kWh\\r\",\"1-0:1.8.2*08_value1\":\"0000000.000\",\"1-0:1.8.2*08_unit1\":\"kWh\\r\",\"1-0:1.8.2*09_value1\":\"0000000.000\",\"1-0:1.8.2*09_unit1\":\"kWh\\r\",\"1-0:1.8.2*10_value1\":\"0000000.000\",\"1-0:1.8.2*10_unit1\":\"kWh\\r\",\"1-0:1.8.2*11_value1\":\"0000000.000\",\"1-0:1.8.2*11_unit1\":\"kWh\\r\",\"1-0:1.8.2*12_value1\":\"0000000.000\",\"1-0:1.8.2*12_unit1\":\"kWh\\r\",\"1-0:1.8.2*13_value1\":\"0000000.000\",\"1-0:1.8.2*13_unit1\":\"kWh\\r\",\"1-0:1.8.2*14_value1\":\"0000000.000\",\"1-0:1.8.2*14_unit1\":\"kWh\\r\",\"1-0:1.8.2*15_value1\":\"0000000.000\",\"1-0:1.8.2*15_unit1\":\"kWh\\r\",\"1-0:1.8.3*01_value1\":\"0000000.000\",\"1-0:1.8.3*01_unit1\":\"kWh\\r\",\"1-0:1.8.3*02_value1\":\"0000000.000\",\"1-0:1.8.3*02_unit1\":\"kWh\\r\",\"1-0:1.8.3*04_value1\":\"0000000.000\",\"1-0:1.8.3*04_unit1\":\"kWh\\r\",\"1-0:1.8.3*05_value1\":\"0000000.000\",\"1-0:1.8.3*05_unit1\":\"kWh\\r\",\"1-0:1.8.3*06_value1\":\"0000000.000\",\"1-0:1.8.3*06_unit1\":\"kWh\\r\",\"1-0:1.8.3*07_value1\":\"0000000.000\",\"1-0:1.8.3*07_unit1\":\"kWh\\r\",\"1-0:1.8.3*08_value1\":\"0000000.000\",\"1-0:1.8.3*08_unit1\":\"kWh\\r\",\"1-0:1.8.3*09_value1\":\"0000000.000\",\"1-0:1.8.3*09_unit1\":\"kWh\\r\",\"1-0:1.8.3*10_value1\":\"0000000.000\",\"1-0:1.8.3*10_unit1\":\"kWh\\r\",\"1-0:1.8.3*11_value1\":\"0000000.000\",\"1-0:1.8.3*11_unit1\":\"kWh\\r\",\"1-0:1.8.3*12_value1\":\"0000000.000\",\"1-0:1.8.3*12_unit1\":\"kWh\\r\",\"1-0:1.8.3*13_value1\":\"0000000.000\",\"1-0:1.8.3*13_unit1\":\"kWh\\r\",\"1-0:1.8.3*14_value1\":\"0000000.000\",\"1-0:1.8.3*14_unit1\":\"kWh\\r\",\"1-0:1.8.3*15_value1\":\"0000000.000\",\"1-0:1.8.3*15_unit1\":\"kWh\\r\",\"1-0:1.8.4*01_value1\":\"0000000.000\",\"1-0:1.8.4*01_unit1\":\"kWh\\r\",\"1-0:1.8.4*02_value1\":\"0000000.000\",\"1-0:1.8.4*02_unit1\":\"kWh\\r\",\"1-0:1.8.4*03_value1\":\"0000000.000\",\"1-0:1.8.4*03_unit1\":\"kWh\\r\",\"1-0:1.8.4*04_value1\":\"0000000.000\",\"1-0:1.8.4*04_unit1\":\"kWh\\r\",\"1-0:1.8.4*05_value1\":\"0000000.000\",\"1-0:1.8.4*05_unit1\":\"kWh\\r\",\"1-0:1.8.4*06_value1\":\"0000000.000\",\"1-0:1.8.4*06_unit1\":\"kWh\\r\",\"1-0:1.8.4*07_value1\":\"0000000.000\",\"1-0:1.8.4*07_unit1\":\"kWh\\r\",\"1-0:1.8.4*08_value1\":\"0000000.000\",\"1-0:1.8.4*08_unit1\":\"kWh\\r\",\"1-0:1.8.4*09_value1\":\"0000000.000\",\"1-0:1.8.4*09_unit1\":\"kWh\\r\",\"1-0:1.8.4*10_value1\":\"0000000.000\",\"1-0:1.8.4*10_unit1\":\"kWh\\r\",\"1-0:1.8.4*11_value1\":\"0000000.000\",\"1-0:1.8.4*11_unit1\":\"kWh\\r\",\"1-0:1.8.4*12_value1\":\"0000000.000\",\"1-0:1.8.4*12_unit1\":\"kWh\\r\",\"1-0:1.8.4*13_value1\":\"0000000.000\",\"1-0:1.8.4*13_unit1\":\"kWh\\r\",\"1-0:1.8.4*14_value1\":\"0000000.000\",\"1-0:1.8.4*14_unit1\":\"kWh\\r\",\"1-0:1.8.4*15_value1\":\"0000000.000\",\"1-0:1.8.4*15_unit1\":\"kWh\\r\",\"1-0:2.8.0*01_value1\":\"0000000.000\",\"1-0:2.8.0*01_unit1\":\"kWh\\r\",\"1-0:2.8.0*02_value1\":\"0000000.000\",\"1-0:2.8.0*02_unit1\":\"kWh\\r\",\"1-0:2.8.0*03_value1\":\"0000000.000\",\"1-0:2.8.0*03_unit1\":\"kWh\\r\",\"1-0:2.8.0*04_value1\":\"0000000.000\",\"1-0:2.8.0*04_unit1\":\"kWh\\r\",\"1-0:2.8.0*05_value1\":\"0000000.000\",\"1-0:2.8.0*05_unit1\":\"kWh\\r\",\"1-0:2.8.0*06_value1\":\"0000000.000\",\"1-0:2.8.0*06_unit1\":\"kWh\\r\",\"1-0:2.8.0*07_value1\":\"0000000.000\",\"1-0:2.8.0*07_unit1\":\"kWh\\r\",\"1-0:2.8.0*08_value1\":\"0000000.000\",\"1-0:2.8.0*08_unit1\":\"kWh\\r\",\"1-0:2.8.0*09_value1\":\"0000000.000\",\"1-0:2.8.0*09_unit1\":\"kWh\\r\",\"1-0:2.8.0*10_value1\":\"0000000.000\",\"1-0:2.8.0*10_unit1\":\"kWh\\r\",\"1-0:2.8.0*11_value1\":\"0000000.000\",\"1-0:2.8.0*11_unit1\":\"kWh\\r\",\"1-0:2.8.0*12_value1\":\"0000000.000\",\"1-0:2.8.0*12_unit1\":\"kWh\\r\",\"1-0:2.8.0*13_value1\":\"0000000.000\",\"1-0:2.8.0*13_unit1\":\"kWh\\r\",\"1-0:2.8.0*14_value1\":\"0000000.000\",\"1-0:2.8.0*14_unit1\":\"kWh\\r\",\"1-0:2.8.0*15_value1\":\"0000000.000\",\"1-0:2.8.0*15_unit1\":\"kWh\\r\",\"1-0:2.6.1*01_value1\":\"00.00\",\"1-0:2.6.1*01_unit1\":\"kW\",\"1-0:2.6.1*01_value2\":\"2210010000\\r\",\"1-0:2.6.1*02_value1\":\"00.00\",\"1-0:2.6.1*02_unit1\":\"kW\",\"1-0:2.6.1*02_value2\":\"2209010000\\r\",\"1-0:2.6.1*03_value1\":\"00.00\",\"1-0:2.6.1*03_unit1\":\"kW\",\"1-0:2.6.1*03_value2\":\"2208191900\\r\",\"1-0:2.6.1*04_value1\":\"00.00\",\"1-0:2.6.1*04_unit1\":\"kW\",\"1-0:2.6.1*04_value2\":\"2109132215\\r\",\"1-0:2.6.1*05_value1\":\"00.00\",\"1-0:2.6.1*05_unit1\":\"kW\",\"1-0:2.6.1*05_value2\":\"0001011300\\r\",\"1-0:2.6.1*06_value1\":\"00.00\",\"1-0:2.6.1*06_unit1\":\"kW\",\"1-0:2.6.1*06_value2\":\"0001011300\\r\",\"0:2.6.1*07_value1\":\"00.00\",\"0:2.6.1*07_unit1\":\"kW\",\"0:2.6.1*07_value2\":\"0001011300\\r\",\"1-0:2.6.1*08_value1\":\"00.00\",\"1-0:2.6.1*08_unit1\":\"kW\",\"1-0:2.6.1*08_value2\":\"0001011300\\r\",\"1-0:2.6.1*09_value1\":\"00.00\",\"1-0:2.6.1*09_unit1\":\"kW\",\"1-0:2.6.1*09_value2\":\"0001011300\\r\",\"1-0:2.6.1*10_value1\":\"00.00\",\"1-0:2.6.1*10_unit1\":\"kW\",\"1-0:2.6.1*10_value2\":\"0001011300\\r\",\"1-0:2.6.1*11_value1\":\"00.00\",\"1-0:2.6.1*11_unit1\":\"kW\",\"1-0:2.6.1*11_value2\":\"0001011300\\r\",\"1-0:2.6.1*12_value1\":\"00.00\",\"1-0:2.6.1*12_unit1\":\"kW\",\"1-0:2.6.1*12_value2\":\"0001011300\\r\",\"1-0:2.6.1*13_value1\":\"00.00\",\"1-0:2.6.1*13_unit1\":\"kW\",\"1-0:2.6.1*13_value2\":\"0001011300\\r\",\"1-0:2.6.1*14_value1\":\"00.00\",\"1-0:2.6.1*14_unit1\":\"kW\",\"1-0:2.6.1*14_value2\":\"0001011300\\r\",\"1-0:2.6.1*15_value1\":\"00.00\",\"1-0:2.6.1*15_unit1\":\"kW\",\"1-0:2.6.1*15_value2\":\"0001011300\\r\",\"1-0:2.6.2*01_value1\":\"00.00\",\"1-0:2.6.2*01_unit1\":\"kW\",\"1-0:2.6.2*01_value2\":\"0001011300\\r\",\"1-0:2.6.2*02_value1\":\"00.00\",\"1-0:2.6.2*02_unit1\":\"kW\",\"1-0:2.6.2*02_value2\":\"0001011300\\r\",\"1-0:2.6.2*03_value1\":\"00.00\",\"1-0:2.6.2*03_unit1\":\"kW\",\"1-0:2.6.2*03_value2\":\"0001011300\\r\",\"1-0:2.6.2*04_value1\":\"00.00\",\"1-0:2.6.2*04_unit1\":\"kW\",\"1-0:2.6.2*04_value2\":\"0001011300\\r\",\"1-0:2.6.2*05_value1\":\"00.00\",\"1-0:2.6.2*05_unit1\":\"kW\",\"1-0:2.6.2*05_value2\":\"0001011300\\r\",\"1-0:2.6.2*06_value1\":\"0\",\"0.00*kW)_value1\":\"0001011300\\r\",\"1-0:2.6.2*07_value1\":\"00.00\",\"1-0:2.6.2*07_unit1\":\"kW\",\"1-0:2.6.2*07_value2\":\"0001011300\\r\",\"1-0:2.6.2*08_value1\":\"00.00\",\"1-0:2.6.2*08_unit1\":\"kW\",\"1-0:2.6.2*08_value2\":\"0001011300\\r\",\"1-0:2.6.2*09_value1\":\"00.00\",\"1-0:2.6.2*09_unit1\":\"kW\",\"1-0:2.6.2*09_value2\":\"0001011300\\r\",\"1-0:2.6.2*10_value1\":\"00.00\",\"1-0:2.6.2*10_unit1\":\"kW\",\"1-0:2.6.2*10_value2\":\"0001011300\\r\",\"1-0:2.6.2*11_value1\":\"00.00\",\"1-0:2.6.2*11_unit1\":\"kW\",\"1-0:2.6.2*11_value2\":\"0001011300\\r\",\"1-0:2.6.2*12_value1\":\"00.00\",\"1-0:2.6.2*12_unit1\":\"kW\",\"1-0:2.6.2*12_value2\":\"0001011300\\r\",\"1-0:2.6.2*13_value1\":\"00.00\",\"1-0:2.6.2*13_unit1\":\"kW\",\"1-0:2.6.2*13_value2\":\"0001011300\\r\",\"1-0:2.6.2*14_value1\":\"00.00\",\"1-0:2.6.2*14_unit1\":\"kW\",\"1-0:2.6.2*14_value2\":\"0001011300\\r\",\"1-0:2.6.2*15_value1\":\"00.00\",\"1-0:2.6.2*15_unit1\":\"kW\",\"1-0:2.6.2*15_value2\":\"0001011300\\r\",\"1-0:2.6.3*01_value1\":\"00.00\",\"1-0:2.6.3*01_unit1\":\"kW\",\"1-0:2.6.3*01_value2\":\"0001011300\\r\",\"1-0:2.6.3*02_value1\":\"00.00\",\"1-0:2.6.3*02_unit1\":\"kW\",\"1-0:2.6.3*02_value2\":\"0001011300\\r\",\"1-0:2.6.3*03_value1\":\"00.00\",\"1-0:2.6.3*03_unit1\":\"kW\",\"1-0:2.6.3*03_value2\":\"0001011300\\r\",\"1-0:2.6.3*04_value1\":\"00.00\",\"1-0:2.6.3*04_unit1\":\"kW\",\"1-0:2.6.3*04_value2\":\"0001011300\\r\",\"1-0:2.6.3*05_value1\":\"00.00\",\"1-0:2.6.3*05_unit1\":\"kW\",\"1-0:2.6.3*05_value2\":\"0001011300\\r\",\"1-0:2.6.3*06_value1\":\"00.00\",\"1-0:2.6.3*06_unit1\":\"kW\",\"1-0:2.6.3*06_value2\":\"0001011300\\r\",\"1-0:2.6.3*07_value1\":\"00.00\",\"1-0:2.6.3*07_unit1\":\"kW\",\"1-0:2.6.3*07_value2\":\"0001011300\\r\",\"1-0:2.6.3*08_value1\":\"00.00\",\"1-0:2.6.3*08_unit1\":\"kW\",\"1-0:2.6.3*08_value2\":\"0001011300\\r\",\"1-0:2.6.3*09_value1\":\"00.00\",\"1-0:2.6.3*09_unit1\":\"kW\",\"1-0:2.6.3*09_value2\":\"0001011300\\r\",\"1-0:2.6.3*10_value1\":\"00.00\",\"1-0:2.6.3*10_unit1\":\"kW\",\"1-0:2.6.3*10_value2\":\"0001011300\\r\",\"1-0:2.6.3*11_value1\":\"00.00\",\"1-0:2.6.3*11_unit1\":\"kW\",\"1-0:2.6.3*11_value2\":\"0001011300\\r\",\"1-0:2.6.3*12_value1\":\"00.00\",\"1-0:2.6.3*12_unit1\":\"kW\",\"1-0:2.6.3*12_value2\":\"0001011300\\r\",\"1-0:2.6.3*13_value1\":\"00.00\",\"1-0:2.6.3*13_unit1\":\"kW\",\"1-0:2.6.3*13_value2\":\"0001011300\\r\",\"1-0:2.6.3*14_value1\":\"00.00\",\"1-0:2.6.3*14_unit1\":\"kW\",\"1-0:2.6.3*14_value2\":\"0001011300\\r\",\"1-0:2.6.3*15_value1\":\"00.00\",\"1-0:2.6.3*15_unit1\":\"kW\",\"1-0:2.6.3*15_value2\":\"0001011300\\r\",\"1-0:2.6.4*01_value1\":\"00.00\",\"1-0:2.6.4*01_unit1\":\"kW\",\"1-0:2.6.4*01_value2\":\"0001011300\\r\",\"1-0:2.6.4*02_value1\":\"00.00\",\"1-0:2.6.4*02_unit1\":\"kW\",\"1-0:2.6.4*02_value2\":\"0001011300\\r\",\"1-0:2.6.4*03_value1\":\"00.00\",\"1-0:2.6.4*03_unit1\":\"kW\",\"1-0:2.6.4*03_value2\":\"0001011300\\r\",\"1-0:2.6.4*04_value1\":\"00.00\",\"1-0:2.6.4*04_unit1\":\"kW\",\"1-0:2.6.4*04_value2\":\"0001011\",\"1-0:2.6.4*05_value1\":\"00.00\",\"1-0:2.6.4*05_unit1\":\"kW\",\"1-0:2.6.4*05_value2\":\"0001011300\\r\",\"1-0:2.6.4*06_value1\":\"00.00\",\"1-0:2.6.4*06_unit1\":\"kW\",\"1-0:2.6.4*06_value2\":\"0001011300\\r\",\"1-0:2.6.4*07_value1\":\"00.00\",\"1-0:2.6.4*07_unit1\":\"kW\",\"1-0:2.6.4*07_value2\":\"0001011300\\r\",\"1-0:2.6.4*08_value1\":\"00.00\",\"1-0:2.6.4*08_unit1\":\"kW\",\"1-0:2.6.4*08_value2\":\"0001011300\\r\",\"1-0:2.6.4*09_value1\":\"00.00\",\"1-0:2.6.4*09_unit1\":\"kW\",\"1-0:2.6.4*09_value2\":\"0001011300\\r\",\"1-0:2.6.4*10_value1\":\"00.00\",\"1-0:2.6.4*10_unit1\":\"kW\",\"1-0:2.6.4*10_value2\":\"0001011300\\r\",\"1-0:2.6.4*11_value1\":\"00.00\",\"1-0:2.6.4*11_unit1\":\"kW\",\"1-0:2.6.4*11_value2\":\"0001011300\\r\",\"1-0:2.6.4*12_value1\":\"00.00\",\"1-0:2.6.4*12_unit1\":\"kW\",\"1-0:2.6.4*12_value2\":\"0001011300\\r\",\"1-0:2.6.4*13_value1\":\"00.00\",\"1-0:2.6.4*13_unit1\":\"kW\",\"1-0:2.6.4*13_value2\":\"0001011300\\r\",\"1-0:2.6.4*14_value1\":\"00.00\",\"1-0:2.6.4*14_unit1\":\"kW\",\"1-0:2.6.4*14_value2\":\"0001011300\\r\",\"1-0:2.6.4*15_value1\":\"00.00\",\"1-0:2.6.4*15_unit1\":\"kW\",\"1-0:2.6.4*15_value2\":\"0001011300\\r\",\"1-0:2.8.1*01_value1\":\"0000000.000\",\"1-0:2.8.1*01_unit1\":\"kWh\\r\",\"1-0:2.8.1*02_value1\":\"0000000.000\",\"1-0:2.8.1*02_unit1\":\"kWh\\r\",\"1-0:2.8.1*03_value1\":\"0000000.000\",\"1-0:2.8.1*03_unit1\":\"kWh\\r\",\"1-0:2.8.1*04_value1\":\"0000000.000\",\"1-0:2.8.1*04_unit1\":\"kWh\\r\",\"1-0:2.8.1*05_value1\":\"0000000.000\",\"1-0:2.8.1*05_unit1\":\"kWh\\r\",\"1-0:2.8.1*06_value1\":\"0000000.000\",\"1-0:2.8.1*06_unit1\":\"kWh\\r\",\"1-0:2.8.1*07_value1\":\"0000000.000\",\"1-0:2.8.1*07_unit1\":\"kWh\\r\",\"1-0:2.8.1*08_value1\":\"0000000.000\",\"1-0:2.8.1*08_unit1\":\"kWh\\r\",\"1-0:2.8.1*09_value1\":\"0000000.000\",\"1-0:2.8.1*09_unit1\":\"kWh\\r\",\"1-0:2.8.1*10_value1\":\"0000000.000\",\"1-0:2.8.1*10_unit1\":\"kWh\\r\",\"1-0:2.8.1*11_value1\":\"0000000.000\",\"1-0:2.8.1*11_unit1\":\"kWh\\r\",\"1-0:2.8.1*12_value1\":\"0000000.000\",\"1-0:2.8.1*12_unit1\":\"kWh\\r\",\"1-0:2.8.1*13_value1\":\"0000000.000\",\"1-0:2.8.1*13_unit1\":\"kWh\\r\",\"1-0:2.8.1*14_value1\":\"0000000.000\",\"1-0:2.8.1*14_unit1\":\"kWh\\r\",\"1-0:2.8.1*15_value1\":\"0000000.000\",\"1-0:2.8.1*15_unit1\":\"kWh\\r\",\"1-0:2.8.2*01_value1\":\"0000000.000\",\"1-0:2.8.2*01_unit1\":\"kWh\\r\",\"1-0:2.8.2*02_value1\":\"0000000.000\",\"1-0:2.8.2*02_unit1\":\"kWh\\r\",\"1-0:2.8.2*03_value1\":\"0000000.000\",\"1-0:2.8.2*03_unit1\":\"kWh\\r\",\"1-0:2.8.2*04_value1\":\"0000000.000\",\"1-0:2.8.2*04_unit1\":\"kWh\\r\",\"1-0:2.8.2*05_value1\":\"0000000.000\",\"1-0:2.8.2*05_unit1\":\"kWh\\r\",\"0:2.8.2*06_value1\":\"0000000.000\",\"0:2.8.2*06_unit1\":\"kWh\\r\",\"1-0:2.8.2*07_value1\":\"0000000.000\",\"1-0:2.8.2*07_unit1\":\"kWh\\r\",\"1-0:2.8.2*08_value1\":\"0000000.000\",\"1-0:2.8.2*08_unit1\":\"kWh\\r\",\"1-0:2.8.2*09_value1\":\"0000000.000\",\"1-0:2.8.2*09_unit1\":\"kWh\\r\",\"1-0:2.8.2*10_value1\":\"0000000.000\",\"1-0:2.8.2*10_unit1\":\"kWh\\r\",\"1-0:2.8.2*11_value1\":\"0000000.000\",\"1-0:2.8.2*11_unit1\":\"kWh\\r\",\"1-0:2.8.2*12_value1\":\"0000000.000\",\"1-0:2.8.2*12_unit1\":\"kWh\\r\",\"1-0:2.8.2*13_value1\":\"0000000.000\",\"1-0:2.8.2*13_unit1\":\"kWh\\r\",\"1-0:2.8.2*14_value1\":\"0000000.000\",\"1-0:2.8.2*14_unit1\":\"kWh\\r\",\"1-0:2.8.2*15_value1\":\"0000000.000\",\"1-0:2.8.2*15_unit1\":\"kWh\\r\",\"1-0:2.8.3*01_value1\":\"0000000.000\",\"1-0:2.8.3*01_unit1\":\"kWh\\r\",\"1-0:2.8.3*02_value1\":\"0000000.000\",\"1-0:2.8.3*02_unit1\":\"kWh\\r\",\"1-0:2.8.3*03_value1\":\"0000000.000\",\"1-0:2.8.3*03_unit1\":\"kWh\\r\",\"1-0:2.8.3*04_value1\":\"0000000.000\",\"1-0:2.8.3*04_unit1\":\"kWh\\r\",\"1-0:2.8.3*05_value1\":\"0000000.000\",\"1-0:2.8.3*05_unit1\":\"kWh\\r\",\"1-0:2.8.3*06_value1\":\"0000000.000\",\"1-0:2.8.3*06_unit1\":\"kWh\\r\",\"1-0:2.8.3*07_value1\":\"0000000.000\",\"1-0:2.8.3*07_unit1\":\"kWh\\r\",\"1-0:2.8.3*08_value1\":\"0000000.000\",\"1-0:2.8.3*08_unit1\":\"kWh\\r\",\"1-0:2.8.3*09_value1\":\"0000000.000\",\"1-0:2.8.3*09_unit1\":\"kWh\\r\",\"1-0:2.8.3*10_value1\":\"0000000.000\",\"1-0:2.8.3*10_unit1\":\"kWh\\r\",\"1-0:2.8.3*11_value1\":\"0000000.000\",\"1-0:2.8.3*11_unit1\":\"kWh\\r\",\"1-0:2.8.3*12_value1\":\"0000000.000\",\"1-0:2.8.3*12_unit1\":\"kWh\\r\",\"1-0:2.8.3*13_value1\":\"0000000.000\",\"1-0:2.8.3*13_unit1\":\"kWh\\r\",\"1-0:2.8.3*14_value1\":\"0000000.000\",\"1-0:2.8.3*14_unit1\":\"kWh\\r\",\"1-0:2.8.3*15_value1\":\"0000000.000\",\"1-0:2.8.3*15_unit1\":\"kWh\\r\",\"1-0:2.8.4*01_value1\":\"0000000.000\",\"1-0:2.8.4*01_unit1\":\"kWh\\r\",\"1-0:2.8.4*02_value1\":\"0000000.000\",\"1-0:2.8.4*02_unit1\":\"kWh\\r\",\"1-0:2.8.4*03_value1\":\"0000000.000\",\"1-0:2.8.4*03_unit1\":\"kWh\\r\",\"1-0:2.8.4*04_value1\":\"0000000.000\",\"1-0:2.8.4*04_unit1\":\"kWh\\r\",\"1-0:2.8.4*05_value1\":\"0000000.000\",\"1-0:2.8.4*05_unit1\":\"kWh\\r\",\"1-0:2.8.4*06_value1\":\"0000000.000\",\"1-0:2.8.4*06_unit1\":\"kWh\\r\",\"1-0:2.8.4*07_value1\":\"0000000.000\",\"1-0:2.8.4*07_unit1\":\"kWh\\r\",\"1-0:2.8.4*08_value1\":\"0000000.000\",\"1-0:2.8.4*08_unit1\":\"kWh\\r\",\":2.8.4*09_value1\":\"0000000.000\",\":2.8.4*09_unit1\":\"kWh\\r\",\"1-0:2.8.4*10_value1\":\"0000000.000\",\"1-0:2.8.4*10_unit1\":\"kWh\\r\",\"1-0:2.8.4*11_value1\":\"0000000.000\",\"1-0:2.8.4*11_unit1\":\"kWh\\r\",\"1-0:2.8.4*12_value1\":\"0000000.000\",\"1-0:2.8.4*12_unit1\":\"kWh\\r\",\"1-0:2.8.4*13_value1\":\"0000000.000\",\"1-0:2.8.4*13_unit1\":\"kWh\\r\",\"1-0:2.8.4*14_value1\":\"0000000.000\",\"1-0:2.8.4*14_unit1\":\"kWh\\r\",\"1-0:2.8.4*15_value1\":\"0000000.000\",\"1-0:2.8.4*15_unit1\":\"kWh\\r\",\"1-0:3.8.0*01_value1\":\"0000000.001\",\"1-0:3.8.0*01_unit1\":\"kVArh\\r\",\"1-0:3.8.0*02_value1\":\"0000000.001\",\"1-0:3.8.0*02_unit1\":\"kVArh\\r\",\"1-0:3.8.0*03_value1\":\"0000000.001\",\"1-0:3.8.0*03_unit1\":\"kVArh\\r\",\"1-0:3.8.0*04_value1\":\"0000000.000\",\"1-0:3.8.0*04_unit1\":\"kVArh\\r\",\"1-0:3.8.0*05_value1\":\"0000000.000\",\"1-0:3.8.0*05_unit1\":\"kVArh\\r\",\"1-0:3.8.0*06_value1\":\"0000000.000\",\"1-0:3.8.0*06_unit1\":\"kVArh\\r\",\"1-0:3.8.0*07_value1\":\"0000000.000\",\"1-0:3.8.0*07_unit1\":\"kVArh\\r\",\"1-0:3.8.0*08_value1\":\"0000000.000\",\"1-0:3.8.0*08_unit1\":\"kVArh\\r\",\"1-0:3.8.0*09_value1\":\"0000000.000\",\"1-0:3.8.0*09_unit1\":\"kVArh\\r\",\"1-0:3.8.0*10_value1\":\"0000000.000\",\"1-0:3.8.0*10_unit1\":\"kVArh\\r\",\"1-0:3.8.0*11_value1\":\"0000000.000\",\"1-0:3.8.0*11_unit1\":\"kVArh\\r\",\"1-0:3.8.0*12_value1\":\"0000000.000\",\"1-0:3.8.0*12_unit1\":\"kVArh\\r\",\"1-0:3.8.0*13_value1\":\"0000000.000\",\"1-0:3.8.0*13_unit1\":\"kVArh\\r\",\"1-0:3.8.0*14_value1\":\"0000000.000\",\"1-0:3.8.0*14_unit1\":\"kVArh\\r\",\"1-0:3.8.0*15_value1\":\"0000000.000\",\"1-0:3.8.0*15_unit1\":\"kVArh\\r\",\"1-0:4.8.0*01_value1\":\"0000000.000\",\"1-0:4.8.0*01_unit1\":\"kVArh\\r\",\"1-0:4.8.0*02_value1\":\"0000000.000\",\"1-0:4.8.0*02_unit1\":\"kVArh\\r\",\"1-0:4.8.0*03_value1\":\"0000000.000\",\"1-0:4.8.0*03_unit1\":\"kVArh\\r\",\"1-0:4.8.0*04_value1\":\"0000000.000\",\"1-0:4.8.0*04_unit1\":\"kVArh\\r\",\"1-0:4.8.0*05_value1\":\"0000000.000\",\"1-0:4.8.0*05_unit1\":\"kVArh\\r\",\"1-0:4.8.0*06_value1\":\"0000000.000\",\"1-0:4.8.0*06_unit1\":\"kVArh\\r\",\"1-0:4.8.0*07_value1\":\"0000000.000\",\"1-0:4.8.0*07_unit1\":\"kVArh\\r\",\"1-0:4.8.0*08_value1\":\"0000000.000\",\"1-0:4.8.0*08_unit1\":\"kVArh\\r\",\"1-0:4.8.0*09_value1\":\"0000000.000\",\"1-0:4.8.0*09_unit1\":\"kVArh\\r\",\"1-0:4.8.0*10_value1\":\"00000\",\"1-0:4.8.0*11_value1\":\"0000000.000\",\"1-0:4.8.0*11_unit1\":\"kVArh\\r\",\"1-0:4.8.0*12_value1\":\"0000000.000\",\"1-0:4.8.0*12_unit1\":\"kVArh\\r\",\"1-0:4.8.0*13_value1\":\"0000000.000\",\"1-0:4.8.0*13_unit1\":\"kVArh\\r\",\"1-0:4.8.0*14_value1\":\"0000000.000\",\"1-0:4.8.0*14_unit1\":\"kVArh\\r\",\"1-0:4.8.0*15_value1\":\"0000000.000\",\"1-0:4.8.0*15_unit1\":\"kVArh\\r\",\"1-0:5.8.0*01_value1\":\"0000000.001\",\"1-0:5.8.0*01_unit1\":\"kVArh\\r\",\"1-0:5.8.0*02_value1\":\"0000000.001\",\"1-0:5.8.0*02_unit1\":\"kVArh\\r\",\"1-0:5.8.0*03_value1\":\"0000000.001\",\"1-0:5.8.0*03_unit1\":\"kVArh\\r\",\"1-0:5.8.0*04_value1\":\"0000000.000\",\"1-0:5.8.0*04_unit1\":\"kVArh\\r\",\"1-0:5.8.0*05_value1\":\"0000000.000\",\"1-0:5.8.0*05_unit1\":\"kVArh\\r\",\"1-0:5.8.0*06_value1\":\"0000000.000\",\"1-0:5.8.0*06_unit1\":\"kVArh\\r\",\"1-0:5.8.0*07_value1\":\"0000000.000\",\"1-0:5.8.0*07_unit1\":\"kVArh\\r\",\"1-0:5.8.0*08_value1\":\"0000000.000\",\"1-0:5.8.0*08_unit1\":\"kVArh\\r\",\"1-0:5.8.0*09_value1\":\"0000000.000\",\"1-0:5.8.0*09_unit1\":\"kVArh\\r\",\"1-0:5.8.0*10_value1\":\"0000000.000\",\"1-0:5.8.0*10_unit1\":\"kVArh\\r\",\"1-0:5.8.0*11_value1\":\"0000000.000\",\"1-0:5.8.0*11_unit1\":\"kVArh\\r\",\"1-0:5.8.0*12_value1\":\"0000000.000\",\"1-0:5.8.0*12_unit1\":\"kVArh\\r\",\"1-0:5.8.0*13_value1\":\"0000000.000\",\"1-0:5.8.0*13_unit1\":\"kVArh\\r\",\"1-0:5.8.0*14_value1\":\"0000000.000\",\"1-0:5.8.0*14_unit1\":\"kVArh\\r\",\"1-0:5.8.0*15_value1\":\"0000000.000\",\"1-0:5.8.0*15_unit1\":\"kVArh\\r\",\"1-0:6.8.0*01_value1\":\"0000000.000\",\"1-0:6.8.0*01_unit1\":\"kVArh\\r\",\"1-0:6.8.0*02_value1\":\"0000000.000\",\"1-0:6.8.0*02_unit1\":\"kVArh\\r\",\"1-0:6.8.0*03_value1\":\"0000000.000\",\"1-0:6.8.0*03_unit1\":\"kVArh\\r\",\"1-0:6.8.0*04_value1\":\"0000000.000\",\"1-0:6.8.0*04_unit1\":\"kVArh\\r\",\"1-0:6.8.0*05_value1\":\"0000000.000\",\"1-0:6.8.0*05_unit1\":\"kVArh\\r\",\"1-0:6.8.0*06_value1\":\"0000000.000\",\"1-0:6.8.0*06_unit1\":\"kVArh\\r\",\"1-0:6.8.0*07_value1\":\"0000000.000\",\"1-0:6.8.0*07_unit1\":\"kVArh\\r\",\"1-0:6.8.0*08_value1\":\"0000000.000\",\"1-0:6.8.0*08_unit1\":\"kVArh\\r\",\"1-0:6.8.0*09_value1\":\"0000000.000\",\"1-0:6.8.0*09_unit1\":\"kVArh\\r\",\"1-0:6.8.0*10_value1\":\"0000000.000\",\"1-0:6.8.0*10_unit1\":\"kVArh\\r\",\"1-0:6.8.0*11_value1\":\"000000\",\"1-0:6.8.0*12_value1\":\"0000000.000\",\"1-0:6.8.0*12_unit1\":\"kVArh\\r\",\"1-0:6.8.0*13_value1\":\"0000000.000\",\"1-0:6.8.0*13_unit1\":\"kVArh\\r\",\"1-0:6.8.0*14_value1\":\"0000000.000\",\"1-0:6.8.0*14_unit1\":\"kVArh\\r\",\"1-0:6.8.0*15_value1\":\"0000000.000\",\"1-0:6.8.0*15_unit1\":\"kVArh\\r\",\"1-0:7.8.0*01_value1\":\"0000000.000\",\"1-0:7.8.0*01_unit1\":\"kVArh\\r\",\"1-0:7.8.0*02_value1\":\"0000000.000\",\"1-0:7.8.0*02_unit1\":\"kVArh\\r\",\"1-0:7.8.0*03_value1\":\"0000000.000\",\"1-0:7.8.0*03_unit1\":\"kVArh\\r\",\"1-0:7.8.0*04_value1\":\"0000000.000\",\"1-0:7.8.0*04_unit1\":\"kVArh\\r\",\"1-0:7.8.0*05_value1\":\"0000000.000\",\"1-0:7.8.0*05_unit1\":\"kVArh\\r\",\"1-0:7.8.0*06_value1\":\"0000000.000\",\"1-0:7.8.0*06_unit1\":\"kVArh\\r\",\"1-0:7.8.0*07_value1\":\"0000000.000\",\"1-0:7.8.0*07_unit1\":\"kVArh\\r\",\"1-0:7.8.0*08_value1\":\"0000000.000\",\"1-0:7.8.0*08_unit1\":\"kVArh\\r\",\"1-0:7.8.0*09_value1\":\"0000000.000\",\"1-0:7.8.0*09_unit1\":\"kVArh\\r\",\"1-0:7.8.0*10_value1\":\"0000000.000\",\"1-0:7.8.0*10_unit1\":\"kVArh\\r\",\"1-0:7.8.0*11_value1\":\"0000000.000\",\"1-0:7.8.0*11_unit1\":\"kVArh\\r\",\"1-0:7.8.0*12_value1\":\"0000000.000\",\"1-0:7.8.0*12_unit1\":\"kVArh\\r\",\"1-0:7.8.0*13_value1\":\"0000000.000\",\"1-0:7.8.0*13_unit1\":\"kVArh\\r\",\"1-0:7.8.0*14_value1\":\"0000000.000\",\"1-0:7.8.0*14_unit1\":\"kVArh\\r\",\"1-0:7.8.0*15_value1\":\"0000000.000\",\"1-0:7.8.0*15_unit1\":\"kVArh\\r\",\"1-0:8.8.0*01_value1\":\"0000000.000\",\"1-0:8.8.0*01_unit1\":\"kVArh\\r\",\"1-0:8.8.0*02_value1\":\"0000000.000\",\"1-0:8.8.0*02_unit1\":\"kVArh\\r\",\"1-0:8.8.0*03_value1\":\"0000000.000\",\"1-0:8.8.0*03_unit1\":\"kVArh\\r\",\"1-0:8.8.0*04_value1\":\"0000000.000\",\"1-0:8.8.0*04_unit1\":\"kVArh\\r\",\"1-0:8.8.0*05_value1\":\"0000000.000\",\"1-0:8.8.0*05_unit1\":\"kVArh\\r\",\"1-0:8.8.0*06_value1\":\"0000000.000\",\"1-0:8.8.0*06_unit1\":\"kVArh\\r\",\"1-0:8.8.0*07_value1\":\"0000000.000\",\"1-0:8.8.0*07_unit1\":\"kVArh\\r\",\"1-0:8.8.0*08_value1\":\"0000000.000\",\"1-0:8.8.0*08_unit1\":\"kVArh\\r\",\"1-0:8.8.0*09_value1\":\"0000000.000\",\"1-0:8.8.0*09_unit1\":\"kVArh\\r\",\"1-0:8.8.0*10_value1\":\"0000000.000\",\"1-0:8.8.0*10_unit1\":\"kVArh\\r\",\"1-0:8.8.0*11_value1\":\"0000000.000\",\"1-0:8.8.0*11_unit1\":\"kVArh\\r\",\"1-0:8.8.0*12_value1\":\"0000000\",\"1-0:8.8.0*13_value1\":\"0000000.000\",\"1-0:8.8.0*13_unit1\":\"kVArh\\r\",\"1-0:8.8.0*14_value1\":\"0000000.000\",\"1-0:8.8.0*14_unit1\":\"kVArh\\r\",\"1-0:8.8.0*15_value1\":\"0000000.000\",\"1-0:8.8.0*15_unit1\":\"kVArh\\r\"}",
                "vt": "json"
            },
            {
                "p": "key",
                "v": "T2_TEST_TOKEN",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "52ce2382bae1c60a"
            ]
        ]
    },
    {
        "id": "d2a20af101789c32",
        "type": "http request",
        "z": "d43567c1be96ce60",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "ded242fe434a4ecd"
            ]
        ]
    },
    {
        "id": "ded242fe434a4ecd",
        "type": "debug",
        "z": "d43567c1be96ce60",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "52ce2382bae1c60a",
        "type": "function",
        "z": "d43567c1be96ce60",
        "name": "Build Req",
        "func": "msg.url = global.get(\"baseURL\") +\"/api/v1/\"+msg.key+\"/telemetry\"\nmsg.payload = msg.regData\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "dfe02ee9cf8da6af"
            ]
        ]
    },
    {
        "id": "fea414a95f926870",
        "type": "link in",
        "z": "d43567c1be96ce60",
        "name": "link - Start Pushing to ThingsBoard",
        "links": [
            "0ed4d359f53813f2",
            "38965ba3b9d58267",
            "a54d25a717f6b718",
            "c86738eb328eea89"
        ],
        "x": 215,
        "y": 80,
        "wires": [
            [
                "52ce2382bae1c60a"
            ]
        ]
    },
    {
        "id": "dfe02ee9cf8da6af",
        "type": "delay",
        "z": "d43567c1be96ce60",
        "name": "",
        "pauseType": "rate",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "d2a20af101789c32"
            ]
        ]
    },
    {
        "id": "f77d45b36e808676",
        "type": "http in",
        "z": "cc8be11b90b5343c",
        "name": "",
        "url": "/getMeterDLMS",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "0d0f5899dd577e9e"
            ]
        ]
    },
    {
        "id": "02b81fdaa8ada99b",
        "type": "http response",
        "z": "cc8be11b90b5343c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "0d0f5899dd577e9e",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 1",
        "func": "msg.payload = \"Got IT !! <br>\"\nmsg.payload += \"<br> IP: \" + msg.req.query.ip\nmsg.payload += \"<br> Port: \" + msg.req.query.port\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "02b81fdaa8ada99b"
            ]
        ]
    },
    {
        "id": "31b04e1b6e261a9b",
        "type": "exec",
        "z": "cc8be11b90b5343c",
        "command": "python3",
        "addpay": "payload",
        "append": "/usr/src/app/main.py -i WRAPPER ",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "12b0a80905c5420e"
            ],
            [
                "12b0a80905c5420e"
            ],
            [
                "12b0a80905c5420e"
            ]
        ]
    },
    {
        "id": "d75c83a0595b8424",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "5d8fb9ef659c68e4"
            ]
        ]
    },
    {
        "id": "12b0a80905c5420e",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "5d8fb9ef659c68e4",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 2",
        "func": "let obis = \"0.0.96.1.0.255:2; 1.0.15.8.0.255:2; 0.0.1.0.0.255:2; 1.0.1.7.0.255:2; 1.0.2.7.0.255:2\"\nlet host = \"10.100.0.36\"\nlet port = \"4059\"\n\n\nmsg.payload = \" -p \"+ port +\" -h \"+ host +\" -g \" + obis\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 480,
        "wires": [
            [
                "31b04e1b6e261a9b"
            ]
        ]
    },
    {
        "id": "23e4d3e60bd76bcc",
        "type": "exec",
        "z": "cc8be11b90b5343c",
        "command": "python3",
        "addpay": "",
        "append": "/usr/src/app/main.py -p 4059 -h \"10.100.0.36\" -g \"0.0.96.1.0.255:2;1.0.15.8.0.255:2;0.0.1.0.0.255:2;1.0.1.7.0.255:2;1.0.2.7.0.255:2\"",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "2bfdbfd1fd6d3981"
            ],
            [
                "2bfdbfd1fd6d3981"
            ],
            [
                "2bfdbfd1fd6d3981"
            ]
        ]
    },
    {
        "id": "769128b3f85a36ff",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "23e4d3e60bd76bcc"
            ]
        ]
    },
    {
        "id": "2bfdbfd1fd6d3981",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "5dc1d3c81cabf21c",
        "type": "exec",
        "z": "cc8be11b90b5343c",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 860,
        "wires": [
            [
                "c44942c67c9ce6d0"
            ],
            [
                "c44942c67c9ce6d0"
            ],
            [
                "c44942c67c9ce6d0"
            ]
        ]
    },
    {
        "id": "dc17236bf3fc9e6b",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 860,
        "wires": [
            [
                "d6d666a66895de33"
            ]
        ]
    },
    {
        "id": "c44942c67c9ce6d0",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 980,
        "wires": []
    },
    {
        "id": "d6d666a66895de33",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 3",
        "func": "let obis = \"0.0.96.1.0.255:2; 1.0.15.8.0.255:2; 0.0.1.0.0.255:2; 1.0.1.7.0.255:2; 1.0.2.7.0.255:2\"\nlet host = \"10.100.0.19\"\nlet port = \"4059\"\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" +obis+ \"'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "5dc1d3c81cabf21c"
            ]
        ]
    },
    {
        "id": "3687cb1df3e0bd10",
        "type": "exec",
        "z": "cc8be11b90b5343c",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 1260,
        "wires": [
            [
                "ad9f0ba20af54645"
            ],
            [
                "ad9f0ba20af54645"
            ],
            [
                "ad9f0ba20af54645"
            ]
        ]
    },
    {
        "id": "a0dd3268893455c8",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "9c5949627ff19dcf"
            ]
        ]
    },
    {
        "id": "ad9f0ba20af54645",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c506dc1c67900f9c",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 5",
        "func": "let obis = \"0.0.1.0.0.255:2\"\nlet host = \"10.100.0.19\"\nlet port = \"4059\"\n\n\n\nlet file = \"\"\nlet WriteFunction = \"\"\n\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \"'\" + \" -o '10_100_96.xml' -M 'SetCurrentTime:Non'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1260,
        "wires": [
            [
                "3687cb1df3e0bd10"
            ]
        ]
    },
    {
        "id": "0b552cd254a994d0",
        "type": "file",
        "z": "cc8be11b90b5343c",
        "name": "Write Template",
        "filename": "10_100_96.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "c506dc1c67900f9c"
            ]
        ]
    },
    {
        "id": "9c5949627ff19dcf",
        "type": "file in",
        "z": "cc8be11b90b5343c",
        "name": "Read Template",
        "filename": "/usr/src/app/10_100_96.xml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 1260,
        "wires": [
            [
                "0b552cd254a994d0"
            ]
        ]
    },
    {
        "id": "e5a9d9add1bd36e4",
        "type": "http in",
        "z": "cc8be11b90b5343c",
        "name": "",
        "url": "/SetCurrentTime2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1340,
        "wires": [
            [
                "9c5949627ff19dcf",
                "228a17c4d49b47c8"
            ]
        ]
    },
    {
        "id": "228a17c4d49b47c8",
        "type": "http response",
        "z": "cc8be11b90b5343c",
        "name": "In Progress",
        "statusCode": "200",
        "headers": {},
        "x": 290,
        "y": 1400,
        "wires": []
    },
    {
        "id": "49986488809d1065",
        "type": "change",
        "z": "cc8be11b90b5343c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"username\":\"tenant@thingsboard.org\",\"password\":\"tenant\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1660,
        "wires": [
            [
                "85a6a38c3b79d501"
            ]
        ]
    },
    {
        "id": "85a6a38c3b79d501",
        "type": "http request",
        "z": "cc8be11b90b5343c",
        "name": "Login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.168.216:8080/api/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 550,
        "y": 1740,
        "wires": [
            [
                "a4b1d30cb701d638",
                "9030055197bdc38d"
            ]
        ]
    },
    {
        "id": "a4b1d30cb701d638",
        "type": "change",
        "z": "cc8be11b90b5343c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tokenDetails",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tokenDetails.token",
                "pt": "msg",
                "to": "$join($append(\"Bearer\", msg.tokenDetails.token)\t, \" \")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1740,
        "wires": [
            [
                "3983ef0968174c18",
                "509ffba3679a3762"
            ]
        ]
    },
    {
        "id": "3983ef0968174c18",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tokenDetails",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1740,
        "wires": []
    },
    {
        "id": "509ffba3679a3762",
        "type": "http request",
        "z": "cc8be11b90b5343c",
        "name": "Get Devices",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.168.216:8080/api/tenant/deviceInfos?pageSize=10&page=0&sortProperty=createdTime&sortOrder=DESC&deviceProfileId=",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            }
        ],
        "x": 810,
        "y": 1880,
        "wires": [
            [
                "d183be5814a211b7",
                "5b7c98e86f8c16e4"
            ]
        ]
    },
    {
        "id": "d183be5814a211b7",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 2000,
        "wires": []
    },
    {
        "id": "bfc74c500959facd",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 1600,
        "wires": [
            [
                "49986488809d1065"
            ]
        ]
    },
    {
        "id": "5b7c98e86f8c16e4",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 9",
        "func": "let devices = msg.payload.data\n\n\n\nmsg.url = \"http://10.10.168.216:8080/api/plugins/telemetry/\" + devices[0].id.entityType + \"/\" +\"08820da0-7932-11ed-b556-615959ac92a4\" + \"/keys/timeseries\"\nmsg.payload = msg.url\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1880,
        "wires": [
            [
                "9b091b1644bc2172",
                "840513e44f1e3b76"
            ]
        ]
    },
    {
        "id": "9b091b1644bc2172",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1880,
        "wires": []
    },
    {
        "id": "840513e44f1e3b76",
        "type": "http request",
        "z": "cc8be11b90b5343c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1210,
        "y": 1960,
        "wires": [
            [
                "906437f83ff04ede",
                "b7bf9fe4d7a9dab1"
            ]
        ]
    },
    {
        "id": "906437f83ff04ede",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b7bf9fe4d7a9dab1",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 10",
        "func": "let key = msg.payload[1]\n\nmsg.url = \"http://10.10.168.216:8080/api/plugins/telemetry/DEVICE/08820da0-7932-11ed-b556-615959ac92a4/values/timeseries?keys=\" + \"0.0.96.1.0.255:2\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 2080,
        "wires": [
            [
                "405d7d97c512bb3c"
            ]
        ]
    },
    {
        "id": "405d7d97c512bb3c",
        "type": "http request",
        "z": "cc8be11b90b5343c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "X-Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            },
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1590,
        "y": 2080,
        "wires": [
            [
                "cebbebe0f6c8f179"
            ]
        ]
    },
    {
        "id": "cebbebe0f6c8f179",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1980,
        "wires": []
    },
    {
        "id": "82407909f289b677",
        "type": "inject",
        "z": "cc8be11b90b5343c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2320,
        "wires": [
            [
                "de6b29469e65412b"
            ]
        ]
    },
    {
        "id": "de6b29469e65412b",
        "type": "function",
        "z": "cc8be11b90b5343c",
        "name": "function 11",
        "func": "msg.thingsBoardHost = \"10.10.168.216:8080\"\nmsg.thingsBoardRoutes = {\n    login:\"/api/auth/login\",\n    devices:\"/api/tenant/deviceInfos?pageSize=10&page=0&sortProperty=createdTime&sortOrder=DESC&deviceProfileId=6407c800-6fc7-11ed-acc7-7f84f79e863d\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "9030055197bdc38d",
        "type": "debug",
        "z": "cc8be11b90b5343c",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1560,
        "wires": []
    },
    {
        "id": "0b30a54fbfd394ce",
        "type": "inject",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"tenant@thingsboard.org\",\"password\":\"tenant\"}",
        "payloadType": "json",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "32c944228bb468b6"
            ]
        ]
    },
    {
        "id": "d96ce83007e067b8",
        "type": "http request",
        "z": "5ccf433d1e1252fa",
        "name": "Login",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.100:8080/api/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "c85898c85af28b67"
            ]
        ]
    },
    {
        "id": "2f526eb852cff802",
        "type": "debug",
        "z": "5ccf433d1e1252fa",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tokenDetails",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "c85898c85af28b67",
        "type": "change",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tokenDetails",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tokenDetails.token",
                "pt": "msg",
                "to": "$join($append(\"Bearer\", msg.tokenDetails.token)\t, \" \")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "2f526eb852cff802",
                "db833319789a5133"
            ]
        ]
    },
    {
        "id": "db833319789a5133",
        "type": "http request",
        "z": "5ccf433d1e1252fa",
        "name": "Get Devices",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.100:8080/api/tenant/deviceInfos?pageSize=10&page=0&sortProperty=createdTime&sortOrder=DESC&deviceProfileId=6407c800-6fc7-11ed-acc7-7f84f79e863d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "msg",
                "valueValue": "tokenDetails.token"
            }
        ],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "1cf28a51f0bcd478",
                "bc83fcd12d15f21f"
            ]
        ]
    },
    {
        "id": "1cf28a51f0bcd478",
        "type": "debug",
        "z": "5ccf433d1e1252fa",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "0302eeb31baac28f",
        "type": "http request",
        "z": "5ccf433d1e1252fa",
        "name": "Get DeviceTelemetry",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "296633d52eecaf86",
                "9c01306cf203a3f1"
            ]
        ]
    },
    {
        "id": "ad990ea77a91b28b",
        "type": "split",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "device",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "8d6a709291cb2a8f"
            ]
        ]
    },
    {
        "id": "e1652c9fe8d0d4f4",
        "type": "debug",
        "z": "5ccf433d1e1252fa",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "bc83fcd12d15f21f",
        "type": "change",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "ad990ea77a91b28b"
            ]
        ]
    },
    {
        "id": "e51cbe6bae6507ff",
        "type": "function",
        "z": "5ccf433d1e1252fa",
        "name": "Build Telemetry Requist",
        "func": "let device = msg.payload\nlet deviceId = msg.payload.id\n\nmsg.url = \"http://192.168.8.100:8080/api/plugins/telemetry/DEVICE/\" + msg.payload.id.id +\"/values/attributes/SERVER_SCOPE\"\nmsg.headers= {\n    \"Authorization\": msg.tokenDetails.token\n    ,\"Content-Type\":\"application/json\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "0302eeb31baac28f"
            ]
        ]
    },
    {
        "id": "296633d52eecaf86",
        "type": "function",
        "z": "5ccf433d1e1252fa",
        "name": "Build Device",
        "func": "\nmsg.payload.forEach(function(telemetry) {\n    if (telemetry.key === \"ip\") msg.host = telemetry.value\n    if (telemetry.key === \"port\") msg.port = telemetry.value\n    if (telemetry.key === \"meterSerial\") msg.serial = telemetry.value \n    if (telemetry.key === \"key\") msg.key = telemetry.value \n    if (telemetry.key === \"read_obis\") msg.read_obis = telemetry.value\n    if (telemetry.key === \"password\") msg.meterPass = telemetry.value\n    if (telemetry.key === \"clientAdress\") msg.meterAd = telemetry.value\n\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "e1652c9fe8d0d4f4",
                "89f352cede8f4670"
            ]
        ]
    },
    {
        "id": "9c01306cf203a3f1",
        "type": "debug",
        "z": "5ccf433d1e1252fa",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "b175121382b06012",
        "type": "link out",
        "z": "5ccf433d1e1252fa",
        "d": true,
        "name": "Link - Get Meeter Data",
        "mode": "link",
        "links": [
            "409af8102a303fb4"
        ],
        "x": 615,
        "y": 560,
        "wires": []
    },
    {
        "id": "89f352cede8f4670",
        "type": "change",
        "z": "5ccf433d1e1252fa",
        "name": "Clear unusedData",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "tokenDetails",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "parts",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "b175121382b06012",
                "ed032813e283ab01"
            ]
        ]
    },
    {
        "id": "32c944228bb468b6",
        "type": "trigger",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "52587beab8c9157d"
            ]
        ]
    },
    {
        "id": "52587beab8c9157d",
        "type": "change",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"username\":\"tenant@thingsboard.org\",\"password\":\"tenant\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "d96ce83007e067b8"
            ]
        ]
    },
    {
        "id": "8d6a709291cb2a8f",
        "type": "change",
        "z": "5ccf433d1e1252fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "deviceId",
                "pt": "msg",
                "to": "payload.id.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "tokenDetails.token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "e51cbe6bae6507ff"
            ]
        ]
    },
    {
        "id": "ed032813e283ab01",
        "type": "link out",
        "z": "5ccf433d1e1252fa",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "4f5647010896317b"
        ],
        "x": 625,
        "y": 640,
        "wires": []
    },
    {
        "id": "ce96152b617369d4",
        "type": "exec",
        "z": "83e12f2fbbc1c363",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "a85998ddcff0b5a8",
                "099e656185e04b7c"
            ],
            [
                "a85998ddcff0b5a8",
                "bf1d229c5b6e8096"
            ],
            [
                "a85998ddcff0b5a8"
            ]
        ]
    },
    {
        "id": "a93297a7eece2026",
        "type": "inject",
        "z": "83e12f2fbbc1c363",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "3ed340144474969a"
            ]
        ]
    },
    {
        "id": "a85998ddcff0b5a8",
        "type": "debug",
        "z": "83e12f2fbbc1c363",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ed340144474969a",
        "type": "function",
        "z": "83e12f2fbbc1c363",
        "name": "function 4",
        "func": "//let obis = \"0.0.96.1.0.255:2; 1.0.15.8.0.255:2; 0.0.1.0.0.255:2; 1.0.1.7.0.255:2; 1.0.2.7.0.255:2\"\n//let obis = \"0.0.96.1.0.255:1;0.0.96.1.0.255:2; 1.0.15.8.0.255:1;1.0.15.8.0.255:2; 0.0.1.0.0.255:1;0.0.1.0.0.255:2; 1.0.1.7.0.255:1;1.0.1.7.0.255:2; 1.0.2.7.0.255:1;1.0.2.7.0.255:2\"\n\nlet host = msg.host\nlet port = msg.port\nlet obis = msg.read_obis\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -c \" + \"64\" + \" -a \" + \"Low\" + \" -P \" + \"MH_@DSEM\" + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" +obis+ \"'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "ce96152b617369d4"
            ]
        ]
    },
    {
        "id": "4f5647010896317b",
        "type": "link in",
        "z": "83e12f2fbbc1c363",
        "name": "Gurux Read",
        "links": [
            "ed032813e283ab01",
            "7a6cc5a0c86a6d57"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "3ed340144474969a",
                "7acab20aa7855513"
            ]
        ]
    },
    {
        "id": "7acab20aa7855513",
        "type": "debug",
        "z": "83e12f2fbbc1c363",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 500,
        "wires": []
    },
    {
        "id": "099e656185e04b7c",
        "type": "function",
        "z": "83e12f2fbbc1c363",
        "name": "Format Data",
        "func": "let dataString = msg.payload;\nlet dataArray = dataString.split(\"\\n\")\n\n\nlet obisStringArray = dataArray.filter(obisString => obisString.includes('Index'))\n\n\nmsg.regData = {}\n\nlet obiCurrentCode = \"\"\n\nobisStringArray.forEach(function (obisString) {\n    let obisArray = obisString.split(\": \")\n   \n\n    let obisindex = obisArray[1].split(\"V\")[0].trim()\n    \n\n    if (parseInt(obisindex) === 1) { \n        obiCurrentCode = obisArray[2].trim()\n    }\n\n    msg.regData[obiCurrentCode + \":\" + obisindex] = obisArray[2].trim()\n\n});\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "38965ba3b9d58267"
            ]
        ]
    },
    {
        "id": "38965ba3b9d58267",
        "type": "link out",
        "z": "83e12f2fbbc1c363",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "fea414a95f926870"
        ],
        "x": 1025,
        "y": 160,
        "wires": []
    },
    {
        "id": "c0b6c36b33d32b60",
        "type": "catch",
        "z": "83e12f2fbbc1c363",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 840,
        "y": 60,
        "wires": [
            [
                "88f579783f36a2f5"
            ]
        ]
    },
    {
        "id": "88f579783f36a2f5",
        "type": "function",
        "z": "83e12f2fbbc1c363",
        "name": "Build Error",
        "func": "msg.regData = {}\n\nmsg.regData[\"Error\"] = msg.error.source.id + \":\" + \":\" + msg.error.source.type +msg.error.source.name + \" : \" + msg.error.message\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 60,
        "wires": [
            [
                "38965ba3b9d58267"
            ]
        ]
    },
    {
        "id": "bf1d229c5b6e8096",
        "type": "function",
        "z": "83e12f2fbbc1c363",
        "name": "Build Error",
        "func": "msg.regData = {}\n\nmsg.regData[\"Error\"] = msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "38965ba3b9d58267"
            ]
        ]
    },
    {
        "id": "83c68889ae60d67a",
        "type": "inject",
        "z": "1509540e3c10b1a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "headers",
                "v": "{\"Authorization\":\"Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAdGhpbmdzYm9hcmQub3JnIiwic2NvcGVzIjpbIlRFTkFOVF9BRE1JTiJdLCJ1c2VySWQiOiI3ZTg3MWIxMC0zZTUxLTExZWQtYTZhZC1jNTg3MWI2ZGQ1ZDIiLCJlbmFibGVkIjp0cnVlLCJpc1B1YmxpYyI6ZmFsc2UsInRlbmFudElkIjoiN2Q4MDBiNTAtM2U1MS0xMWVkLWE2YWQtYzU4NzFiNmRkNWQyIiwiY3VzdG9tZXJJZCI6IjEzODE0MDAwLTFkZDItMTFiMi04MDgwLTgwODA4MDgwODA4MCIsImlzcyI6InRoaW5nc2JvYXJkLmlvIiwiaWF0IjoxNjY1NjY5NDA2LCJleHAiOjE2NjU2Nzg0MDZ9.wnAkyecp83rjetqqLZxubXv2h3Uqyhn1X1-bAvEcHRCTIGE3DjtIGfvEGlULI4phyugbPQkkfyglP3mnnWJRrg\",\"Content-Type\":\"application/json\"}",
                "vt": "json"
            },
            {
                "p": "url",
                "v": "http://mytb:9090/api/plugins/telemetry/DEVICE/06618c50-3e52-11ed-bc13-b37a369ce579/SERVER_SCOPE",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"active\":true}",
        "payloadType": "json",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "4314ceea63cb9cda"
            ]
        ]
    },
    {
        "id": "4314ceea63cb9cda",
        "type": "http request",
        "z": "1509540e3c10b1a5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "34da70a971c88497"
            ]
        ]
    },
    {
        "id": "34da70a971c88497",
        "type": "debug",
        "z": "1509540e3c10b1a5",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "b71e99e32c884bf5",
        "type": "link in",
        "z": "1509540e3c10b1a5",
        "name": "Meter Offline",
        "links": [
            "352d2b91584fd414"
        ],
        "x": 265,
        "y": 120,
        "wires": [
            [
                "add95038863698e3"
            ]
        ]
    },
    {
        "id": "add95038863698e3",
        "type": "function",
        "z": "1509540e3c10b1a5",
        "name": "MeterDown",
        "func": "msg.payload = { \"active\": false }\nmsg.headers = { \"Authorization\": msg.token, \"Content-Type\": \"application/json\" }\nmsg.url = \"http://mytb:9090/api/plugins/telemetry/DEVICE/\" + msg.deviceId + \"/SERVER_SCOPE\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "4314ceea63cb9cda"
            ]
        ]
    },
    {
        "id": "b06d8edc77891f7a",
        "type": "link in",
        "z": "1509540e3c10b1a5",
        "name": "Meter Online",
        "links": [
            "580a25f0cdf51537"
        ],
        "x": 265,
        "y": 340,
        "wires": [
            [
                "f86dbcca8606fba5"
            ]
        ]
    },
    {
        "id": "f86dbcca8606fba5",
        "type": "function",
        "z": "1509540e3c10b1a5",
        "name": "MeterDown",
        "func": "msg.payload = { \"active\": true }\nmsg.headers = { \"Authorization\": msg.token, \"Content-Type\": \"application/json\" }\nmsg.url = \"http://mytb:9090/api/plugins/telemetry/DEVICE/\" + msg.deviceId + \"/SERVER_SCOPE\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "4314ceea63cb9cda"
            ]
        ]
    },
    {
        "id": "ebec0114e1b01097",
        "type": "exec",
        "z": "9233b0c84f38dab5",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 840,
        "y": 240,
        "wires": [
            [
                "fbec2ee6eb8bdd3f"
            ],
            [
                "fbec2ee6eb8bdd3f"
            ],
            [
                "fbec2ee6eb8bdd3f"
            ]
        ]
    },
    {
        "id": "2c78c955d49818fd",
        "type": "inject",
        "z": "9233b0c84f38dab5",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "60f8829e1a026da9"
            ]
        ]
    },
    {
        "id": "fbec2ee6eb8bdd3f",
        "type": "debug",
        "z": "9233b0c84f38dab5",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "5275ebb343bb1765",
        "type": "function",
        "z": "9233b0c84f38dab5",
        "name": "function 6",
        "func": "let obis = \"0.0.1.0.0.255:2\"\nlet host = \"10.100.0.19\"\nlet port = \"4059\"\n\n\n\nlet file = \"\"\nlet WriteFunction = \"\"\n\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \"'\" + \" -o '10_100_96.xml' -M 'SetCurrentTime:Non'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "ebec0114e1b01097"
            ]
        ]
    },
    {
        "id": "d282699141301a5e",
        "type": "file",
        "z": "9233b0c84f38dab5",
        "name": "Write Template",
        "filename": "10_100_96.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "5275ebb343bb1765"
            ]
        ]
    },
    {
        "id": "60f8829e1a026da9",
        "type": "file in",
        "z": "9233b0c84f38dab5",
        "name": "Read Template",
        "filename": "/usr/src/app/10_100_96.xml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "d282699141301a5e"
            ]
        ]
    },
    {
        "id": "ad1fb619fae01fa3",
        "type": "http in",
        "z": "9233b0c84f38dab5",
        "name": "",
        "url": "/SetCurrentTime",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "60f8829e1a026da9",
                "409d5f7ee489fd86"
            ]
        ]
    },
    {
        "id": "409d5f7ee489fd86",
        "type": "http response",
        "z": "9233b0c84f38dab5",
        "name": "In Progress",
        "statusCode": "200",
        "headers": {},
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1f3a988bb2ebd34",
        "type": "exec",
        "z": "9233b0c84f38dab5",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "362efe0f8207d44a"
            ],
            [
                "362efe0f8207d44a"
            ],
            [
                "362efe0f8207d44a"
            ]
        ]
    },
    {
        "id": "ed0acc3630a155db",
        "type": "inject",
        "z": "9233b0c84f38dab5",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "615c887b24b23a9e"
            ]
        ]
    },
    {
        "id": "362efe0f8207d44a",
        "type": "debug",
        "z": "9233b0c84f38dab5",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "52aa9677b1f21370",
        "type": "function",
        "z": "9233b0c84f38dab5",
        "name": "function 7",
        "func": "let obis = \"0.0.19.10.0.255:2\"\nlet host = msg.req.query.ip\nhost = \"10.100.0.19\"\nlet port = msg.req.query.port\nport = \"4059\"\nlet method = msg.req.query.method\nmethod = \"SetCredit\"\n\nlet amount = msg.req.query.amount\n\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \"'\" + \" -o '10_100_96.xml' -M '\" + method +\":\"+amount+\"'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 540,
        "wires": [
            [
                "d1f3a988bb2ebd34"
            ]
        ]
    },
    {
        "id": "ba75515f8f6837c0",
        "type": "file",
        "z": "9233b0c84f38dab5",
        "name": "Write Template",
        "filename": "10_100_96.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "52aa9677b1f21370"
            ]
        ]
    },
    {
        "id": "615c887b24b23a9e",
        "type": "file in",
        "z": "9233b0c84f38dab5",
        "name": "Read Template",
        "filename": "/usr/src/app/10_100_96.xml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "ba75515f8f6837c0"
            ]
        ]
    },
    {
        "id": "d8f50fa05c65a0e3",
        "type": "http in",
        "z": "9233b0c84f38dab5",
        "name": "",
        "url": "/SetCredit",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 540,
        "wires": [
            [
                "615c887b24b23a9e",
                "aa617f4970d19987"
            ]
        ]
    },
    {
        "id": "aa617f4970d19987",
        "type": "http response",
        "z": "9233b0c84f38dab5",
        "name": "In Progress",
        "statusCode": "200",
        "headers": {},
        "x": 330,
        "y": 640,
        "wires": []
    },
    {
        "id": "0d941dea03865b1e",
        "type": "exec",
        "z": "9233b0c84f38dab5",
        "command": "python3",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 980,
        "wires": [
            [
                "1ddb3c94673a6525"
            ],
            [
                "1ddb3c94673a6525",
                "1ad788667bbc37c7",
                "79c82f933b85480b"
            ],
            [
                "1ddb3c94673a6525"
            ]
        ]
    },
    {
        "id": "3596bc256b26be4c",
        "type": "inject",
        "z": "9233b0c84f38dab5",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 165,
        "y": 900.5555419921875,
        "wires": [
            [
                "70beeb476a93c7b7"
            ]
        ]
    },
    {
        "id": "1ddb3c94673a6525",
        "type": "debug",
        "z": "9233b0c84f38dab5",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "4301439bacf93f72",
        "type": "function",
        "z": "9233b0c84f38dab5",
        "name": "function 8",
        "func": "\nlet host = msg.req.query.ip\nlet port = msg.req.query.port\nmsg.key = msg.req.query.key\n\nlet method = msg.req.query.method\nlet amount = msg.req.query.amount\n\n\nlet obis = \"Non\"\nif (msg.req.query.method === \"SetCredit\")\n    obis = \"0.0.19.10.0.255:2\"\n\nif (msg.req.query.method === \"SetCurrentTime\"){\n    obis = \"0.0.1.0.0.255:2\"\n    amount = \"Non\"\n    }\n\n\n\n\n\nmsg.payload = \"/usr/src/app/main.py -i WRAPPER \" + \" -p \" + port + \" -h \" + \"'\" + host + \"'\" + \" -g \" + \"'\" + obis + \"'\" + \" -o '10_100_96.xml' -M '\" + method +\":\"+amount+\"'\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 980,
        "wires": [
            [
                "0d941dea03865b1e"
            ]
        ]
    },
    {
        "id": "be372b175c796b43",
        "type": "file",
        "z": "9233b0c84f38dab5",
        "name": "Write Template",
        "filename": "10_100_96.xml",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 525,
        "y": 980.5555419921875,
        "wires": [
            [
                "4301439bacf93f72"
            ]
        ]
    },
    {
        "id": "70beeb476a93c7b7",
        "type": "file in",
        "z": "9233b0c84f38dab5",
        "name": "Read Template",
        "filename": "/usr/src/app/10_100_96.xml",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 325,
        "y": 980.5555419921875,
        "wires": [
            [
                "be372b175c796b43"
            ]
        ]
    },
    {
        "id": "95e5901fe875b969",
        "type": "http in",
        "z": "9233b0c84f38dab5",
        "name": "",
        "url": "/write",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 65,
        "y": 980.5555419921875,
        "wires": [
            [
                "70beeb476a93c7b7",
                "3d692f8daee00714",
                "74e3242854e47981"
            ]
        ]
    },
    {
        "id": "3d692f8daee00714",
        "type": "http response",
        "z": "9233b0c84f38dab5",
        "name": "In Progress",
        "statusCode": "200",
        "headers": {},
        "x": 325,
        "y": 1080.5555419921875,
        "wires": []
    },
    {
        "id": "1ad788667bbc37c7",
        "type": "debug",
        "z": "9233b0c84f38dab5",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1120,
        "wires": []
    },
    {
        "id": "79c82f933b85480b",
        "type": "function",
        "z": "9233b0c84f38dab5",
        "name": "Build Error",
        "func": "msg.regData = {}\n\nmsg.regData[\"Write Error\"] = msg.payload\nmsg.regData[msg.req.query.method + \"_Write Error\"] = msg.req.query.method + \":\" + msg.req.query.amount + \" : \" + msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 980,
        "wires": [
            [
                "c86738eb328eea89"
            ]
        ]
    },
    {
        "id": "c86738eb328eea89",
        "type": "link out",
        "z": "9233b0c84f38dab5",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "fea414a95f926870"
        ],
        "x": 1305,
        "y": 1020,
        "wires": []
    },
    {
        "id": "74e3242854e47981",
        "type": "debug",
        "z": "9233b0c84f38dab5",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e0a8dd44f6737d56",
        "type": "comment",
        "z": "1bd78f3f44340342",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "43cba63066aaaecf",
        "type": "tcp request",
        "z": "1bd78f3f44340342",
        "name": "",
        "server": "",
        "port": "",
        "out": "sit",
        "ret": "string",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "f6939871de4556a8",
                "580a25f0cdf51537"
            ]
        ]
    },
    {
        "id": "3cc358b1b0980389",
        "type": "inject",
        "z": "1bd78f3f44340342",
        "name": "",
        "props": [
            {
                "p": "host",
                "v": "10.123.245.154",
                "vt": "str"
            },
            {
                "p": "port",
                "v": "8000",
                "vt": "str"
            },
            {
                "p": "serial",
                "v": "20671901",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "414801e6057048b1"
            ]
        ]
    },
    {
        "id": "634f3d88e7580ebd",
        "type": "function",
        "z": "1bd78f3f44340342",
        "name": "Set Meter Awake (1) string",
        "func": "msg.payload = \"FFFFFF\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "43cba63066aaaecf"
            ]
        ]
    },
    {
        "id": "46e611ef47096ee4",
        "type": "join",
        "z": "1bd78f3f44340342",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "120",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "ae70f859a020f00b"
            ]
        ]
    },
    {
        "id": "f6939871de4556a8",
        "type": "function",
        "z": "1bd78f3f44340342",
        "name": "Update Complete When all data Recived",
        "func": "if (msg.payload.includes(\"!\"))\n    msg.complete = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "46e611ef47096ee4"
            ]
        ]
    },
    {
        "id": "0e3c11111e7635b8",
        "type": "delay",
        "z": "1bd78f3f44340342",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "b7b37474ac2c655d"
            ]
        ]
    },
    {
        "id": "b7b37474ac2c655d",
        "type": "function",
        "z": "1bd78f3f44340342",
        "name": "Set GET request string",
        "func": "//msg.payload = \"/?20671901!\\r\\n\"\nmsg.payload = \"/?\"+msg.serial+\"!\\r\\n\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "43cba63066aaaecf"
            ]
        ]
    },
    {
        "id": "a3e309e559287df5",
        "type": "delay",
        "z": "1bd78f3f44340342",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "defd4d94b80d11a9"
            ]
        ]
    },
    {
        "id": "defd4d94b80d11a9",
        "type": "function",
        "z": "1bd78f3f44340342",
        "name": "Set Meter Awake (2) string",
        "func": "msg.payload = \"FFFFFF\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "43cba63066aaaecf"
            ]
        ]
    },
    {
        "id": "409af8102a303fb4",
        "type": "link in",
        "z": "1bd78f3f44340342",
        "name": "link - Start Getting Meeter Data",
        "links": [
            "b175121382b06012",
            "0823918fae82a4d7"
        ],
        "x": 165,
        "y": 260,
        "wires": [
            [
                "414801e6057048b1"
            ]
        ]
    },
    {
        "id": "065271fbc7fef021",
        "type": "debug",
        "z": "1bd78f3f44340342",
        "name": "Meter Input Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "ae70f859a020f00b",
        "type": "function",
        "z": "1bd78f3f44340342",
        "name": "Format Data",
        "func": "let dataString = msg.payload;\nlet dataArray = dataString.split(\"\\n\")\n\n//msg.payload = dataArray\n\n\nlet array = dataArray\n\nmsg.regData = {}\n\nmsg.regData[\"rawData\"] = msg.payload\n//msg.regData[\"Model\"] = array\n\narray.forEach(function (reg) {\n\n    let dataPair = reg.split(\"(\")\n    if (dataPair.length > 1) {\n        let key = dataPair[0]\n        let value1 = dataPair[1].replace(\")\", \"\").split(\"*\")[0]\n        let unit1 = dataPair[1].replace(\")\", \"\").split(\"*\")[1]\n        let value2 = dataPair[2] ? dataPair[2].replace(\")\", \"\") : dataPair[2]\n        msg.regData[key + \"_value1\"] = value1\n        msg.regData[key + \"_unit1\"] = unit1\n        msg.regData[key + \"_value2\"] = value2\n    }\n\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 520,
        "wires": [
            [
                "ef5f364ad2e0a379",
                "0ed4d359f53813f2"
            ]
        ]
    },
    {
        "id": "ef5f364ad2e0a379",
        "type": "debug",
        "z": "1bd78f3f44340342",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "regData",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "0ed4d359f53813f2",
        "type": "link out",
        "z": "1bd78f3f44340342",
        "name": "Push to thingsboard",
        "mode": "link",
        "links": [
            "fea414a95f926870"
        ],
        "x": 1085,
        "y": 520,
        "wires": []
    },
    {
        "id": "814920d9c5bd3a4e",
        "type": "catch",
        "z": "1bd78f3f44340342",
        "name": "",
        "scope": [
            "43cba63066aaaecf"
        ],
        "uncaught": false,
        "x": 870,
        "y": 80,
        "wires": [
            [
                "352d2b91584fd414",
                "e0ff7e8a1b14188c"
            ]
        ]
    },
    {
        "id": "352d2b91584fd414",
        "type": "link out",
        "z": "1bd78f3f44340342",
        "name": "Report Meeter In-Active",
        "mode": "link",
        "links": [
            "b71e99e32c884bf5"
        ],
        "x": 1035,
        "y": 80,
        "wires": []
    },
    {
        "id": "580a25f0cdf51537",
        "type": "link out",
        "z": "1bd78f3f44340342",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b06d8edc77891f7a"
        ],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "e0ff7e8a1b14188c",
        "type": "debug",
        "z": "1bd78f3f44340342",
        "name": "Error: Report Connection Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 120,
        "wires": []
    }
]